[2019-12-31 14:56] leonhelmus opened #1 "Can't install buckaroo through packagist for magento 2"
Hey,

I cannot install the module through packagist. Could you solve this for me?

**Error when installing:**
[code]

[2020-01-02 15:10] Buckaroo-Rens commented on #1
@leonhelmus This should be fixed now.

[2020-01-02 15:10] #1 closed

[2020-01-17 13:02] igorwulff opened #2 "When updating to the version 1.16.0 we experience an error when loading the configuration"
When updating to the version 1.16.0 we experience an error when loading the configuration

We get this error when in production mode and after deploying the new version to our acceptance environment:
[17-Jan-2020 11:54:59 UTC] PHP Fatal error:  Uncaught Error: Cannot instantiate interface Buckaroo\Magento2\Api\CertificateRepositoryInterface in vendor/magento/framework/ObjectManager/Factory/Abstrac

[2020-01-17 13:11] Buckaroo-Rens commented on #2
Hi Igor, we will look into this right away.

[2020-01-17 13:33] vladislav-padalka-hys commented on #2
Hi Igor !

We can not quickly reproduce the issue you mentioned, but if you can provide some additional info then it help us to solve the issue :
1. Is this composer based or manual update of the plugin ?
2. What version you try to update ?
3. What exact CLI commands were used for an update ?
4. Where was the error provided : command line tool, admin area, frontend area ?

Thanks in advance !

[2020-01-17 14:17] igorwulff commented on #2
This is done through an composer based update. We updated from the latest TIG version (1.14.1) to the latest version available in the buckaroo-it repo (1.16.0). The 'problem' is visible in the admin area:

![Screenshot from 2020-01-17 15-12-03](https://user-images.githubusercontent.com/5222424/72618589-c342a580-393b-11ea-9b82-0b097bf17c3e.png)

We've ran the update through our regular deploy scrip

[2020-01-17 14:36] vladislav-padalka-hys commented on #2
Also, please check recommendations we gave in when updating to 1.16.0 using composer (https://github.com/buckaroo-it/Magento2/blob/v1.16.0/composer_installation.txt) and sure that you've executed properly commands for that migration:

".......
IMPORTANT NOTE: if you update from v1.14.1 or lower to v1.16.0 or higher then you need to take specific actions instead :

php bin/magento module:disable TI

[2020-01-20 11:53] igorwulff commented on #2
Hi @vladislav-padalka-hys , just to be sure, I have redone the whole process of removing and re-adding the new module. And now it seems to be working. So I assume it was an error from our side. Thanks for looking into this. I will close the ticket for now.

[2020-01-20 11:53] #2 closed

[2020-01-20 15:16] rutgerrademaker opened #3 "Please describe your commits with more then an internal reference number"
As system-intergrators / end-users we like to see **what** and **why** stuff in the code has changed

Almost all commits now show nothing more than what looks like an internal reference to an issue (as in HP-23)
As we don't have access to those issues we are now unable to see which code has changed for which reason

A very good guide on writing commit messages: https://chris.beams.io/posts/git-com

[2020-01-20 16:00] rutgerrademaker opened #4 "Magento 2.3.4 compatibility (magento/framework ~102.0.4)"
When upgrading magento to 2.3.4 (Commerce) I ran into the issue that this package is not compatible yet.

The issue is that `magento/framework:102.0.4` is not allowed as a requirement.

Could you please verify that  102.0.4 can safely be added in the package's allowed requirements?

[2020-01-21 07:07] Buckaroo-Rens commented on #3
Hi Rutger,

Thank you for your feedback. Since we are still in the start-up phase of our own GitHub, we have not yet arrived at adding such information. We will, of course, take your feedback seriously and so we will add this a.s.a.p.

[2020-01-21 07:18] vladislav-padalka-hys commented on #4
Hi Rutger !

It's natural that we will test and make compatible our plugin with v2.3.4 as soon as possible, but can you please clarify the way you did an update to 2.3.4 ?
Because even it was announced some time ago, but currently we see no such version available for public download or composer installation.

[2020-01-21 07:48] #3 closed

[2020-01-21 08:18] rutgerrademaker commented on #4
@vladislav-padalka-hys Ahh.. the company I work for has access to the "Pre-release" (which comes 2 weeks before GA)
So, we can already install it via composer. Not sure if it is available in the Open Source version too.
I'd suggest just to try to install it via composer (that's what I did)

[2020-01-21 10:38] Buckaroo-Rens commented on #4
@rutgerrademaker Thank you for your feedback. We allready tried true composer without any results. Since we are still awaiting our partner account there is no other option than waiting for the full release. Keep you posted.

[2020-01-21 15:26] ericclaeren commented on #4
Why did you close this issue? This isn't resolved yet.

The 2.3.4 commerce version is available, when do you expect to get your partner account?
Because this is holding back our update to 2.3.4.

[2020-01-21 16:05] tomasflashpoint opened #5 "Database install scheme contains fixed table name"
Setup/InstallSchema.php

`$installer->getConnection()->query(
                    "UPDATE core_config_data SET path = replace(path, 'tig_buckaroo','buckaroo_magento2') WHERE path LIKE '%tig_buckaroo%';"
                );`

[2020-01-22 07:28] vladislav-padalka-hys commented on #5
Thanks for the report Tomas !

We've fixed this minor issue in master branch and it will go to next release.

[2020-01-22 08:37] igorwulff commented on #4
Hi @Buckaroo-Rens the minor update includes security fixes as well, so we want to be up to date asap and be able to start testing before the pre-release is released. Can some kind of beta or release candidate be provided? You only have to alter the restriction in the composer.json in this version.

[2020-01-22 09:51] ericclaeren commented on #4
@igorwulff You can use 2.3.3-p1 for the security fixes.

We are upgrading from 2.3.2-p2, so instead of upgrading to 2.3.4 we now need to go to 2.3.3 and this means we have to test the entire site for the 2.3.3-p1 upgrade and a second time when upgrading to 2.3.4, which is a costly process, for us and the customer. So this is the reason @Buckaroo-Rens why we rather would update to 2.3.4 directly.

[2020-01-22 10:11] vladislav-padalka-hys commented on #4
Hi @igorwulff !

We've made https://github.com/buckaroo-it/Magento2/releases/tag/v1.16.1-RC1 pre-release with "magento/framework:102.0.4" requirement you've requested.

So please try to update with "buckaroo/magento2:1.16.1-RC1" and let us know if help.

[2020-01-22 13:06] ericclaeren commented on #4
Thanks @vladislav-padalka-hys

Going to test it, will provide feedback as soon as we have tested the upgrade.

[2020-01-24 08:25] Buckaroo-Rens commented on #4
Hi Eric, can you give us any update regarding the tests.

[2020-01-24 12:27] ericclaeren commented on #4
No, sorry, the update is crashing on yet unknown code which is not related to Buckaroo, need to fix this before continuing testing.

[2020-01-28 12:28] ericclaeren commented on #4
@Buckaroo-Rens

Tested the latest release: 1.16.1 and everything in test mode went fine. 👍

The only issue I ran in was a configuration issue where the merchant key was overridden by store view, which I didn't directly see and the value seemed not to be cleared by the updateData or reset to the default value (website).

Thanks!

[2020-01-29 10:12] Buckaroo-Rens commented on #4
Can you confirm that you were updating from v1.14.0 or lower? Since in v1.14.0 was a security update were you needed to fill in the merchant/secrect key again;

[2020-01-29 10:22] vladislav-padalka-hys commented on #5
@tomasflashpoint , it was released in https://github.com/buckaroo-it/Magento2/releases/tag/v1.16.1

[2020-01-29 10:22] #5 closed

[2020-02-05 08:19] the-line opened #7 "Version 1.17.0 is not compatible with Magento 2.2.11 when installed with Composer"
When trying to update Buckaroo to 1.17.0 and Magento 2.2.11 with Composer, the update is blocked because Buckaroo requires magento/framework 101.0.10 or lower. Magento 2.2.11 requires version 101.0.11 of magento/framework and therefore cannot be installed with version 1.17.0 of Buckaroo.

Although the release notes state that 1.17.0 is tested with Magento 2.2.11, it cannot be installed.

[2020-02-05 08:38] vladislav-padalka-hys commented on #7
thanks a lot for your note! plugin has been tested with 2.2.11, but not in composer based environment, so release has been re-deployed with version fix

[2020-02-05 08:40] #7 closed

[2020-02-06 08:40] ericclaeren commented on #4
Hi @Buckaroo-Rens.

Yes we were updating from a lower version. But I expected the update script to remove all current keys, instead the overriden store view key seems not to have been deleted.

[2020-02-06 09:14] ericclaeren opened #8 "Afterpay20 'showNLBEFields' breaks telephone field."
Hi,

I'm on 1.17.0. The option for `showNLBEFields` seems to break the input the phone field.
On every change event the input loses focus, which is quite annoying for a user during checkout. This behaviour is currently not in the old afterpay/afterpay2 methods.

I removed the knockout ` ` code in the template file, which seems to fix the issue, but is not the real solution for this problem.

![Scr

[2020-02-06 10:34] vladislav-padalka-hys commented on #8
Hi Eric!
Thanks for your request!
Fix will be included to the next release.

[2020-02-06 12:09] Buckaroo-Rens commented on #4
Thank you for the information. We will test this later this sprint and share te results with you.

[2020-02-07 11:22] vladislav-padalka-hys commented on #4
Hi Eric !
We've tried to reproduce the issue you have: installed version of 1.13.1 (before merchant/security keys change), entered merchant keys for all levels of configuration, then upgraded to 1.14.0 (where is merchant/security keys change) and as result merchant keys values were erased (replaced with empty strings) in DB.
It's natural that in UI they still be shown as asterix , but in DB they a

[2020-02-10 09:59] fazed opened #9 "SOAP Violation of encoding rules"
Hi,

We're experiencing issues when trying to pay for an order in the checkout (last step). After investigating the error log, we found the following message:
`[2020-02-10 09:33:00] main.CRITICAL: SOAP-ERROR: Encoding: Violation of encoding rules {"exception":"[object] (SoapFault(code: 0): SOAP-ERROR: Encoding: Violation of encoding rules at xxxx/vendor/buckaroo/magento2/Soap/Client/SoapClientWSSE

[2020-02-10 10:40] saranchuk-hys commented on #9
Hello @fazed !
Thanks for your request!

Could you please specify:
- did you use Magento Open Source 2.3.4 ?
- which php version use ?
- which payment method was selected ?

[2020-02-10 13:18] Sil-B commented on #9
@saranchuk-hys  We have the same issue after upgrading to

- Magento open Source 2.3.4
- 7.2.xxx
- any payment method.

[2020-02-10 13:45] fazed commented on #9
Hi @saranchuk-hys, thanks for the fast response.

We're using:
- Magento 2.3.4 CE
- PHP 7.3.x
- Any payment method

[2020-02-11 09:15] Buckaroo-Rens commented on #9
@Sil-B @fazed We are currently unable to reproduce this issue on our own testing environment. Could you please give us some additional information? What checkout extension are you using etc. Thank you in advance.

[2020-02-11 09:51] Sil-B commented on #9
@Buckaroo-Rens Thanks for the quick reply. For this project we are using the Amasty One Step Checkout :(. I did not try it with the native checkout.

[2020-02-11 09:52] Buckaroo-Rens commented on #9
@Sil-B Could you please test with native checkout? We do not support the Amasty One Step Checkout currently.

[2020-02-11 13:23] Sil-B commented on #9
@Buckaroo-Rens I've tested it with native checkout and default lume theme. Same issue:

`[2020-02-11 13:21:13] main.CRITICAL: SOAP-ERROR: Encoding: string '6\xe9...' is not a valid utf-8 string {"exception":"[object] (SoapFault(code: 0): SOAP-ERROR: Encoding: string '6\\xe9...' is not a valid utf-8 string at /home/xxx/magento2/vendor/buckaroo/magento2/Soap/Client/SoapClientWSSEC.php:33)"} []`

[2020-02-12 14:48] fazed commented on #9
@Sil-B, we've managed to fix our issue by flushing the WSDL cache. Apparently when upgrading PHP from < 7.3 to >= 7.3, the cached WSDL files are borked.

[2020-02-13 12:54] TimVroom opened #11 "Payment fails when having multiple store views with the same increment_id"
When there are multiple stores that can use the same increment_id setup (e.g. a EN storeview and a NL storeview)

Its possible to setup the increment ids to be in the same range (e.g. 10000001 for EN and 10000001 for NL)
If this is done and some orders are placed in the default store view, than the next increment id on the other store view will generate an error on the ->getPayment() in `Controlle

[2020-02-14 10:17] Buckaroo-Rens commented on #4
@ericclaeren Is there any update form your side or can we close this issue?

[2020-02-14 10:23] Buckaroo-Rens commented on #8
@ericclaeren This fix is allready available in v1.18.0-RC1. Full release will follow coming Wednesday.

[2020-02-14 10:23] #8 closed

[2020-02-17 12:49] Buckaroo-Rens commented on #9
Issue of @Sil-B was fixed by filling in the Buckaroo credentials again. Issue closed.

[2020-02-17 12:49] #9 closed

[2020-02-20 07:37] Buckaroo-Rens commented on #4
@ericclaeren For now we will close this issue because we cannot reproduce it in our own test-environments. Please let us know when you need more help.

[2020-02-20 07:37] #4 closed

[2020-02-20 07:39] Buckaroo-Rens commented on #11
@TimVroom i tryed to contact you true multiple ways. For now we are not planning on changing this whitin our extension. Please contact us at support@buckaroo.nl if you need any more help.

[2020-02-20 07:39] #11 closed

[2020-02-20 10:38] speedupmate opened #13 "Is this extension open for commenting?"
Hi

I overviewed this extension related to conflicts on checkout and wondering if this extension is open for comments ?

[2020-02-25 10:02] Buckaroo-Rens commented on #13
No, thank you.

[2020-02-25 10:02] #13 closed

[2020-03-03 10:37] wouterfolkertsma opened #14 "Afterpay not working when Home Copy Levi is stored in weee_tax_applied_row_amount"
We recently had an issue with a client shop where they could not use the afterpay payment option.

Magento throws an error saying the total amount does not match the sum of the product prices. This is caused in:

    /**
     * @param \Magento\Quote\Model\Quote\Item $productItem
     * @param                                 $includesTax
     *
     * @return mixed
     */
    public function calcu

[2020-03-04 10:18] peterkoppenaal opened #15 "Orderstatussing not correct"
In the Setup/UpgradeData.php, there are a number of order statuses that are being inserted into Magento.
One of them is ```buckaroo_magento2_pending_payment ```
The problem with this is that the maximum length of the status field is 32 characters. The status ```buckaroo_magento2_pending_payment ``` has a length of 33 characters.

This should be replaced with an order status with a maximum of 32 ch

[2020-03-04 14:35] michielfb opened #16 "Javascript error when using Apple Pay"
The following javascript occurs in the browser console on the "checkout/cart" page when Apple Pay is enabled as payment method. The Apple Pay button is not shown to the users.

**How to reproduce**
- Install buckaroo/magento2 v1.19.0
- Configure and enable Buckaroo and the Apple Pay payment method
- Add a product to the cart and go to the cart page (/checkout/cart)
- A error appears in the browser

[2020-03-04 14:48] michielfb commented on #16
The errors seems to be caused by `view/frontend/templates/checkout/cart/applepay.phtml`. The `showPayButton` is not defined when it's based to the after render binding.

[2020-03-04 15:33] vladislav-padalka-hys commented on #14
Thanks a lot @wouterfolkertsma !

We've added your fix and it will be published within next release.

[2020-03-04 16:24] vladislav-padalka-hys commented on #15
Thanks a lot @peterkoppenaal for your report !

Yeah, you are correct about custom statuses renaming. But we don't think it can cause issues you explained, so could you help us with answering more details :

-what payment method cause the issue ?
-is it in combined or authorize/capture payment flow ?
-what are your current values selected for below dropdown lists ?
Sales / Buckaroo / Advanced Conf

[2020-03-05 07:23] peterkoppenaal commented on #15
@vladislav-padalka-hys You are absolutely right.
After some further debugging, I traced it to the statuses you are mentioning.
The upgrade script messed up my advanced configuration of the Buckaroo module. So much for backwards compatibilty ;)

I set the statuses and now everything is working as expected. I already updated my comment, so only the issue regarding the length of the status remains.

[2020-03-05 09:09] vladislav-padalka-hys commented on #15
It's good to here that original issue is not related to plugin by itself, thanks a lot !
As for long status, then its better to trim its name (by last character) rather than alter many tables where it can be stored,so we will do that.

[2020-03-05 09:12] #15 closed

[2020-03-05 09:29] leonhelmus opened #17 "I get a invalid form key when making a payment using iDeal/mastercard."
Whenever i try to make an payment using iDeal/Mastercard on a live account i get a invalid form key error when being redirected to the succes page. Does anyone else experience this problem? I cant seem to reproduce it with test credentials.

[2020-03-05 13:08] vladislav-padalka-hys commented on #16
Thanks for your report @michielfb !
We've include the fix into upcoming release.

[2020-03-05 13:55] arnoudhgz commented on #17
Also reproducible when cancelling the order. You should be redirected to the cart page, but instead you'll be redirected to the home page with `Invalid Form Key. Please refresh the page.` message.

[2020-03-05 14:03] Buckaroo-Rens commented on #17
Can you please provide us any additional information.

- Magento version
- PHP version
- Buckaroo version

[2020-03-05 16:45] leonhelmus commented on #17
Magento version: 2.3.4
PHP: 7.2
Buckaroo: 1.18

[2020-03-06 16:06] basvanpoppel opened #18 "Configure button disabled when Magento_Paypal module is disabled."
Issue:
The 'Configure' button onder Sales > Payment Methods is disabled. When Magento_Paypal module is enabled, the configure button is enabled as well. Although the module isn't set as a dependency.

Possible fix:
Replace `isPaymentEnabled($element)` function in Block\Adminhtml\System\Config\Fieldset\Payment.php by a function checking wether Buckaroo module is activated, so the configure button i

[2020-03-06 17:09] Buckaroo-Rens commented on #18
Thank you @basvanpoppel . We are aware of this issue. From what i understand you allready had contact with our technical support team who provided you the following link: https://support.buckaroo.nl/categorie%C3%ABn/plugins/magento-2/nuttige-know-how/my-configure-button-is-not-clickable-within-the-configuration-en

Can you confirm that everything works for you right now?

[2020-03-06 17:11] Buckaroo-Rens commented on #17
Thank you for sharing your information. Did you recently update from a older Buckaroo version (1.14.1 or lower to 1.18)? If so, please fill in your merchantkey, secretkey en certificate again. If not i want to ask you to contact our technical support team true support@buckaroo.nl

We have al lot o merchants running on 2.3.4 in combination with buckaroo version 1.18 without problems. Our support te

[2020-03-08 08:51] basvanpoppel commented on #18
The workaround works, yes. Thanks!

[2020-03-08 21:38] dverkade opened #19 "Module always sends same IP address when behind varnish"
# Description

We have a setup of Magento running on Nginx, which is behind varnish cache. Since varnish cache will act as a proxy to Nginx it will register the IP address of the server as the IP address which has placed the order. The real IP address of the customer is forward and stored in Magento as "X-Forwarded-For".

# The problem

The module gets the IP address from the order with `$order->g

[2020-03-09 06:58] Buckaroo-Rens commented on #18
Great, thanks for the confirmation.

[2020-03-09 06:58] #18 closed

[2020-03-10 09:05] vladislav-padalka-hys commented on #19
Hi @dverkade !

As we can see it's not a new behavior and it was from scratch. But you are right and this fix may be done. So we will consider to include it to further releases ASAP. Thanks for informing !

[2020-03-11 11:51] Buckaroo-Rens commented on #17
@leonhelmus / @arnoudhgz can you confirm that updating the credentials fixed the issue?

[2020-03-16 10:41] arnoudhgz commented on #17
@Buckaroo-Rens no we were already on the new 'merchantkey', 'secretkey' and 'certificate' already.

[2020-03-16 10:45] arnoudhgz commented on #17
@Buckaroo-Rens it seems to have something to do with sessions, somehow the PHP session id has been changed when coming back from Buckaroo after a payment. That's why the formkey does not work when coming back to the shop.

[2020-03-16 10:45] Buckaroo-Rens commented on #17
@arnoudhgz Then please contact our support team: support@buckaroo.nl

[2020-03-17 15:37] arnoudhgz commented on #17
@Buckaroo-Rens I've send an email to support.

But.... I continued to look into it, it seems to have something to do with CSRF checks. At the moment we are testing it with the same 'hack'/'solution' as your competitor does: https://github.com/Adyen/adyen-magento2/blob/develop/Controller/Process/Redirect.php#L130

[2020-03-18 07:46] Buckaroo-Rens commented on #17
@arnoudhgz Could you let us know when your done testing and share us the results?

[2020-03-19 07:01] poort3 opened #20 "Module settings remain empty"
Hi,

We have a Magento2 shop (2.3.4) with the latest Buckaroo version, that has an empty backend. No settings can be altered or even seen. There are no error messages.
PHP is on version 7.2.28

Any ideas?

<img width="1295" alt="Schermafbeelding 2020-03-19 om 07 53 48" src="https://user-images.githubusercontent.com/62015271/77040159-b08a3280-69b7-11ea-9a5c-a38a1e6a2957.png">

[2020-03-19 07:04] vladislav-padalka-hys commented on #20
Hi @poort3 !

1.Is this fresh installation or an upgrade from some old version (please exact version if so) ?
2.Did you install the plugin using composer or manually ?
3.Did you flush the cache ?

[2020-03-19 07:23] poort3 commented on #20
Hi, thank you for your very quick response.

This is an upgrade, all the way back to 1.4. The previous version was 2.2.6.
The plugin was installed manually and yes, i flushed the cache. (upgrade, di:compile, static-content:deploy and cache:clean/flush. Did that multiple times).

[2020-03-20 13:08] rikwillems opened #21 "Cannot instantiate abstract class Magento\Framework\Model\ResourceModel\AbstractResource"
Loading the cart results in a fatal error: Cannot instantiate abstract class Magento\Framework\Model\ResourceModel\AbstractResource

You cannot add non-optional constructor arguments after the optional arguments:
https://github.com/buckaroo-it/Magento2/blob/40528e18e902261240d8dbe138dcc6045921e24e/Model/Method/Giftcards.php#L122

[2020-03-20 13:10] Buckaroo-Rens commented on #14
Published in 1.20.0

[2020-03-20 13:10] #14 closed

[2020-03-20 13:10] Buckaroo-Rens commented on #16
Published in 1.20.0

[2020-03-20 13:10] #16 closed

[2020-03-20 13:15] Buckaroo-Rens commented on #20
@poort3 Can you contact us at support@buckaroo.nl (please write directly at me, Rens) we would like login access to your store if possible.

[2020-03-20 13:41] saranchuk-hys commented on #21
Hello @rikwillems .
Thank you for you issue.
All necessary fixes will be included in the next release.
Until this, you can use our master branch.
Thank you

[2020-03-20 13:43] #21 closed

[2020-03-24 08:45] Buckaroo-Rens commented on #20
Issue is solved.

[2020-03-24 08:45] #20 closed

[2020-04-01 14:45] Buckaroo-Rens commented on #17
@arnoudhgz Do you allready have some results?

[2020-04-01 15:22] arnoudhgz commented on #17
Yes it seems that the patch I created greatly reduces this issue. Your controller should get the same thing as the one from Adyen.

Better would be to actually implement the `CsrfAwareActionInterface` in your controller I think.

[2020-04-15 10:50] peterkoppenaal opened #22 "Magento 2.3.5 support"
Hi,

I'm working on a Magento upgrade, I'm wondering when the Buckaroo plugin will be supporting Magento 2.3.5? Magento released it, but the Magento framework dependencies in the Buckaroo module are preventing me from upgrading to 2.3.5.

thanks in advance!

[2020-04-16 08:26] Buckaroo-Rens commented on #22
Hi @peterkoppenaal ,

We are currently working on making our plugin compatible for the upcoming 2.3.5 release of Magento. Unfortunately i do not have a specific date yet. I will inform you when we a have more specific date.

Thanks for your patience.

[2020-04-17 08:38] rikwillems commented on #18
It is weird that this issue is marked as closed. Providing a workaround cannot be really called a fix right? Modules PayPal, InstantPurchase and Vault are not required for basic Buckaroo usage right? Maybe better to provide these checks at the payment methods or settings that really depend on them?

[2020-04-17 09:18] Buckaroo-Rens commented on #18
@rikwillems I aggree with you but this issue is on our backlog but since it is not critical and there is a work arround i don't see the reason to keep this open for now.

[2020-04-23 08:48] DanielVercouteren opened #23 "Buckaroo creditcards are not filtered by active attribute"
## Description
We have the Buckaroo Magento2 module running on v1.21.0 with Magento2 running on v2.3.4. In the Buckaroo configuration (Store > Configuration > Sales > Payment Methods > Other Payment Methods > Buckaroo) we have the following setup:
[code]

## The problem
In the checkout of our webshop, all creditcards are shown, even the creditcards that we didn't allow. Checking `creditcard.js:67`

[2020-04-28 08:48] ericclaeren commented on #22
Hi @Buckaroo-Rens

Is there's any progress on this issue?

Thanks

[2020-05-04 09:38] robbertstevens opened #24 "Partial credit memo's"
Is it possible to not refund transactioncost for orders where you only refund a partial order?

[2020-05-04 12:34] dverkade commented on #22
@Buckaroo-Rens @buckaroo-it

Magento 2.3.5 has been officially released last week. Please make sure that you release a compatible version ASAP. Since Magento 2.3.5 is a release with security fixes and bug fixes it should already be compatible with this Magento release.

Please note and fix the constraints in the composer.json file. Magento Framework module version is 102.0.5 which is fully compati

[2020-05-04 12:46] Serializator commented on #22
@dverkade, minor versions "should" indeed be backward compatible, yet more often than not that is not the case.

I understand the reasoning behind the version constraint but if takes longer for Buckaroo to ensure their customers that their product will work on Magento 2.3.5 I'd at least expect the version constraint to be compatible with Magento 2.3.4-p2 for security reasons.

A colleague of mine

[2020-05-04 12:53] dverkade commented on #22
The Magento version numbers itself are marketing versions. So you can't be sure that 2.3.5 is backward compatible with 2.3.4. However the internal version numbers of the modules are using semantic versioning and backwards compatibility is ensured! So the module magento/framework 102.0.5 is fully backwards compatible with 102.0.4

[2020-05-06 07:50] Buckaroo-Rens commented on #24
At this moment this is only possible from the Buckaroo Plaza and not from the Magento back-end. This is also we are currently not planning to implement since the new PSD2 regulation tell us that payment fees are not allowed on most of the payment methods.

[2020-05-06 13:17] #24 closed

[2020-05-11 08:54] arnoudhgz commented on #22
@Buckaroo-Rens can you also make it work for 2.3.4-p2 ? Not all clients will go immediately to 2.3.5. We will do the security patch first.

[2020-05-14 09:18] timkoopmans50 commented on #22
Any update on a non-RC 2.3.5 supported release date?

[2020-05-14 09:19] Buckaroo-Rens commented on #22
Hi @timkoopmans50 We are working on the last fixes and expect to release next Wednesday.

[2020-05-20 12:39] timkoopmans50 opened #26 "Can't use 1.23.1 , fatal error in checkout"
After upgrading to buckaroo/magento2 1.23.1 the checkout is broken. Downgrading back to 1.16.1 solved it, but I need to upgrade to Magento 2.3.5 as soon as possible so using V16.1 is not an option.

Conditions:
PHP 7.2.24
Magento 2.3.4 enterprise
developer mode

I've heard colleagues about the same error on 2.2.X

**Request URL: http://REDACTED.test/nl/checkout/**
Request Method: GET
Status Code:

[2020-05-20 12:48] Serializator commented on #26
I experienced this issue after upgrading to 1.20.0, I downgraded to 1.19.0 to mitigate the issue. As thus 1.19.0 seems the most recent version that does not have the above mentioned problem.

[2020-05-20 12:52] vladislav-padalka-hys commented on #26
Thanks for your report !

@Serializator , could you please clarify : are you also using EE or you have an issue with CE ?

[2020-05-20 12:54] Serializator commented on #26
@vladislav-padalka-hys, I experienced the issue on CE

[2020-05-20 13:09] Buckaroo-Rens commented on #26
@timkoopmans50  Contacted you by e-mail for more information. @Serializator Did you have de exact same issue? Since 1.20 is 2 months old now and many merchants are using this version or higher. Also we do installations ourself before a release and had no issues with it at all.

[2020-05-20 13:17] Serializator commented on #26
Hi @Buckaroo-Rens,

I got the same exception ("Fatal error: Uncaught Error: Cannot instantiate abstract class Magento\Framework\Model\ResourceModel\AbstractResource"), whether this originated from the exact same place as it did for @timkoopmans50 is unknown.

I back traced it to `view/frontend/templates/cart/buckaroo_config.phtml` and something related to the giftcard payment method, but this paym

[2020-05-20 13:26] vladislav-padalka-hys commented on #26
@Serializator could you please clarify : did you do all required magento related commands during update process ?

php bin/magento setup:upgrade
php bin/magento setup:di:compile
php bin/magento setup:static-content:deploy -f
php bin/magento cache:flush

If not, then could you please try to do them and let us know if it helps

[2020-05-20 13:26] Buckaroo-Rens commented on #22
Released in 1.23.0

[2020-05-20 13:26] #22 closed

[2020-05-20 13:28] Serializator commented on #26
Hi @vladislav-padalka-hys,

I did (locally) and they are also part of our deployment process (both production and staging).

Kind regards,
Julian

[2020-05-20 13:34] vladislav-padalka-hys commented on #26
@Serializator quite strange , because template mentioned by you (view/frontend/templates/cart/buckaroo_config.phtml) was not changed neither in 1.19 , nor in 1.20 and any other further releases, as well as it's not related to gift cards.

[2020-05-20 13:43] Serializator commented on #26
Hi @vladislav-padalka-hys,

Indeed, the template might not have changed but the underlying implementation of `getBuckarooConfigJson` might have. it wouldn't surprise me either if the implementation of `getBuckarooConfigJson` does something related to giftcard (otherwise it wouldn't be in de stack trace).

It's not specifically about the template but also about everything "underneath" the template,

[2020-05-20 13:58] vladislav-padalka-hys commented on #26
@Serializator thanks for your details !

Can I ask you to try just re-save (in case you didn't do it after update to 1.20.0) settings located in Stores / Configuration / Sales / Payment methods / Buckaroo ?
It is where all payments method are located.
You don't need to change anything. Just re-save and try checkout for an error again.

Overall, if we will have a chance to see your test environment

[2020-05-20 15:12] Buckaroo-Rens commented on #26
@Serializator / @timkoopmans50 please let us know if re-saving the base setting (credentials) worked here.

[2020-05-21 09:12] Zyrinx commented on #26
I had the same issue as mentioned in previous comments, I resolved it by doing the following:

In ```Buckaroo\Magento2\Model\Method\Giftcards``` move the ```PaymentGroupTransaction $groupTransaction,``` as first parameter in the construct, so it looks like this:
[code]

In ```Buckaroo\Magento2\Model\Method\Afterpay20``` move the ```Log $logger2,``` as first parameter in the construct, so it looks

[2020-05-21 09:19] vladislav-padalka-hys commented on #26
@timkoopmans50 , @Serializator

after intensive testing we can say that we can not reproduce mentioned issue (tested with php 7.1/7.2/7.3 and m2 2.3.3/2.3.5), but assuming importance of that issue for you, we've tried to follow your advices and made a fix
we've released a new RC : https://github.com/buckaroo-it/Magento2/releases/tag/v1.23.2-RC1
could you please try it and confirm if it will solve

[2020-05-21 09:47] Serializator commented on #26
Hi @vladislav-padalka-hys,

I successfully deployed 1.23.2-RC1 on our staging environment and it seems to resolve the issue.

I'd like to get confirmation from @timkoopmans50 as well if that is okay. It will most likely also work for him but you never know what kinda weird things can creep up depending on the environment 😉

@Zyrinx, thank you. We found the issue in `Buckaroo\Magento2\Model\Method\

[2020-05-22 09:34] ericclaeren opened #27 "Unclosed div in buckaroo_magento2_giftcards.html"
Hi,

There's a unclosed div in
https://github.com/buckaroo-it/Magento2/blob/master/view/frontend/web/template/payment/buckaroo_magento2_giftcards.html#L130

which may break possible layout.

[2020-05-22 09:53] saranchuk-hys commented on #27
Hello @ericclaeren
Thank you for your issue!
div fixed and will be include to next release

[2020-05-22 09:53] #27 closed

[2020-05-22 10:02] ericclaeren opened #28 "Confusing classname buckaroo_magento2_ajaxgiftcard for every card"
Every giftcard now get's this class:

https://github.com/buckaroo-it/Magento2/compare/v1.23.0-RC1...v1.23.2-RC1#diff-d92ae7a6b11831b13cac8a6bd7f531bbR57

But ajax is also a soccer team and provides a giftcard, shouldn't this classname be generic?

[2020-05-22 10:11] saranchuk-hys commented on #28
Hello @ericclaeren
Thank you for your issue!

Classname was fixed, and will be included to next release

[2020-05-22 10:11] #28 closed

[2020-05-22 10:44] ericclaeren opened #29 "Checkout agreements not working on giftcard"
Hi,

It seems that after upgrading to the latest RC for Magento 2.3.5 the checkout agreements aren't displayed and therefor checkout is not possible.

This only seems to occur when using the inline handler. Which became the default because you did not provide an upgrade path when you switched from yesno.

[2020-05-22 10:46] ericclaeren commented on #28
Could you provide a commit/pr when closing an issue, so I can see the change and anticipate on it, we have custom styling which broke the first time.

[2020-05-22 10:56] ericclaeren opened #30 "Lack of functional tests"
Hi, I have submitted 3 issues around giftcards within the last 30 minutes at least 1 could have been prevented if sufficient functional tests were available.

The absence of functional tests are a bit disturbing for a module which takes on such a vital role in the checkout process.

Is this part of code quality on your future roadmap?

[2020-05-22 10:57] ericclaeren commented on #29
I can confirm that switching from inline to redirect enables the checkout agreements and newsletter option.

[2020-05-22 12:41] timkoopmans50 commented on #26
I can confirm that the "Cannot instantiate abstract class" error has been fixed in 1.23.2-RC1.

[2020-05-22 12:47] vladislav-padalka-hys commented on #26
@timkoopmans50 @Serializator
thank you !
we hope to release a new public update early next week

[2020-05-22 12:47] saranchuk-hys commented on #29
Hello @ericclaeren
Thank you for your issue!

Checkout agreements fixed and will be included to next release

[2020-05-22 12:47] #29 closed

[2020-05-25 07:21] vladislav-padalka-hys commented on #26
released, https://github.com/buckaroo-it/Magento2/releases/tag/v1.23.2

[2020-05-25 07:21] #26 closed

[2020-05-25 11:53] wahidnory opened #31 "Opening orders view in backend throws SQL error"
Hello,

After updating to version 1.23.2, our magento 2.3.4 installation started throwing an SQL error in the backend on the orders screen.

[code]
After investigating some more I found out that there was an update to this file.
```view/adminhtml/ui_component/sales_order_grid.xml```
(removing the file loads the grid correctly).

And this file
```Ui/Component/Listing/Column/Method/Filter.php```
 do

[2020-05-25 12:09] vladislav-padalka-hys commented on #31
Hi @wahidnory !

We've verified - PHP file you've provided is not related to the issue (at least because there is no WHERE statement)
We are unable to reproduce the issue you reported at our stagings.
But we suppose it's because your installation is non standard and using custom prefixes for order increments and this makes them non numeric.
Thanks for reporting and we'll adjust our code for you ca

[2020-05-25 12:28] vladislav-padalka-hys commented on #31
@wahidnory we've found that SQL and made where statement more generic
It has been committed into the master branch (https://github.com/buckaroo-it/Magento2/commit/ed9634908435a9e0d70a359fcf718a6692bb6028)
Fix will be included into next release or, in case of urgency, you can use updated file from master branch.
Thank you !

[2020-05-25 12:28] #31 closed

[2020-05-25 12:31] wahidnory commented on #31
Thank you for your fast fix, this indeed fixes the issue.

[2020-05-26 08:55] martijn-bigbridge opened #32 "main.CRITICAL: SOAP-ERROR: Encoding: string '\xf7...' is not a valid utf-8 string {"exception":""
Cannot use the extension at the moment for a .fr domain.

Magento 2.3.4
PHP 7.3

[2020-05-26 08:46:31] main.CRITICAL: SOAP-ERROR: Encoding: string '\xf7...' is not a valid utf-8 string {"exception":"[object] (SoapFault(code: 0): SOAP-ERROR: Encoding: string '\\xf7...' is not a valid utf-8 string at /var/domains/x/vendor/buckaroo/magento2/Soap/Client/SoapClientWSSEC.php:42)"} []

[code]

[code]

Th

[2020-05-26 09:15] vladislav-padalka-hys commented on #32
Hi @martijn-bigbridge !

Could you please specify is this new plugin installation or you did an upgrade of Buckaroo's plugin and error has appeared after it ?
Or maybe error is appeared after some other actions (e.g.: PHP version upgrade) ?
Any other additional information will be useful to solve your issue.

[2020-05-26 09:20] vladislav-padalka-hys commented on #32
Anyway, two things you need to try do first are:
1) clear WSDL cache (check your php's wsdl_cache_dir setting and clean wsdl files)
2) re-save buckaroo credentials form in admin area

[2020-05-26 10:17] martijn-bigbridge commented on #32
@vladislav-padalka-hys
That did the trick.

Thanks !

[2020-05-26 10:17] #32 closed

[2020-05-28 07:35] martijn-bigbridge opened #33 "Logs saying main.CRITICAL Undefined index: brq_transaction_type"
Magento 2.3.4
PHP 7.3
buckaroo/magento2 1.23.2

Upgrade from:

Magento 2.1.x
PHP 7.0
tig/buckaroo v1.9.1

After the upgrade the logs report many errors like below:

```main.CRITICAL: Report ID: webapi-5ecf530080a8e; Message: Notice: Undefined index: brq_transaction_type in /x/vendor/buckaroo/magento2/Model/Push.php on line 1101 {"exception":"[object] (Exception(code: 0): Report ID: webapi-5ecf5300

[2020-05-28 07:48] vladislav-padalka-hys commented on #33
Hi @martijn-bigbridge
It's just not critical PHP notice (means less than a warning level) , but anyway thanks for the reporting!
We've fixed it in master branch already and it will be included in upcoming release soon.

[2020-05-28 08:38] martijn-bigbridge commented on #33
I know that it is a warning level ;) thanks for the fix, we try to keep the exception.log empty :)

[2020-05-28 08:38] #33 closed

[2020-06-04 09:35] vladislav-padalka-hys commented on #23
Hi @DanielVercouteren !

We can not confirm exact issue you've described
It means that at our test staging selection of limited subset of cards is reflected properly at front end part.
Although your thoughts about javascript code are right, but you didn't take into account that they are filtered at later stage by knockout's part :

Anyway, we did extra filtering (like you've proposed0 to solve you

[2020-06-04 12:35] vlad-smorodskiy-hys commented on #17
@arnoudhgz, thanks for your comment! Сhanges were added into master branch. And will be available in release version. Please inform us about results after checking changes.

[2020-06-05 10:05] vladislav-padalka-hys commented on #23
released in https://github.com/buckaroo-it/Magento2/releases/tag/v1.24.0-RC1

[2020-06-05 10:06] vladislav-padalka-hys commented on #19
released in https://github.com/buckaroo-it/Magento2/releases/tag/v1.24.0-RC1

[2020-06-09 07:07] timkoopmans50 opened #34 "v1.23.2 issue: undefined index card in card.php:222"
[2020-06-08 14:23:47] report.CRITICAL: Notice: Undefined index: card in {path}/vendor/buckaroo/magento2/Controller/Checkout/Giftcard.php on line 222

This occurs when giftcards are configured "inline". The customer attempts to pay but is unable to.

Temporary workaround: set GiftCard handling mode to redirect at store / configuration / sales / payment methods / configure buckaroo / giftcards / Gif

[2020-06-09 07:47] saranchuk-hys commented on #34
Hello @timkoopmans50 !
Thank you for your issue!

undefined index card fixed and will be included to next release

[2020-06-09 07:47] #34 closed

[2020-06-17 10:03] boldbart opened #35 "can't create online refund for giftcard order"
Hi, when I create an order that is fully paid with Fashion Cheque, I can't create a creditmemo with online refund for it. The button 'Credit Memo' is not visible on the invoice page. On the order page itself it is visible but that creates an offline refund.

[2020-06-17 10:46] Buckaroo-Rens commented on #35
@boldbart This is also stated in our plugin at the Giftcards settings. Refunds are currently only possible via de Buckaroo Plaza. We are working on making refunds also possible from Magento.

[2020-06-18 10:18] boldbart commented on #35
@Buckaroo-Rens alright thank you. Looks like it will be in the next release? 😊

[2020-06-23 09:56] fkruidhof opened #36 "JS errors caused by applepay script on product page"
The applepay block and template that are used on the productpage ads window.checkoutconfig and fills it with custom config without loading the entire checkoutconfig.
This interferes with other modules that check and rely on window.checkoutconfig (such ass Swissup Firecheckout) and can lead to JS errors that break the page.

this can not be prevented by turning off applepay, because the script is l

[2020-07-07 11:43] Buckaroo-Rens commented on #35
@boldbart Did some changes in our latest release v1.24.0.

[2020-07-07 11:43] #35 closed

[2020-07-07 11:43] Buckaroo-Rens commented on #36
Included in latest release v1.24.0.

[2020-07-07 11:43] #36 closed

[2020-07-07 11:43] #23 closed

[2020-07-07 11:44] #19 closed

[2020-07-07 11:44] Buckaroo-Rens commented on #19
Full release 1.24.0 is done.

[2020-07-07 11:44] Buckaroo-Rens commented on #17
Changes are included in latest release 1.24.0.

[2020-07-07 11:44] #17 closed

[2020-07-14 12:46] Buckaroo-Rens commented on #30
@ericclaeren We (Buckaroo) tryed to reached out to you (WeProvide) but are still waiting for response. For now i will close this issue. Functional test are definitely on our roadmap.

[2020-07-14 12:46] #30 closed

[2020-07-14 14:19] peterkeijsers opened #38 "Loading javascript quote model without window.checkoutConfig available causes js error"
The ApplePay module on the product page has a dependency on `Magento_Checkout/js/model/quote`. This model however needs the window.checkoutConfig object to be filled. The error on the product page is as follow:

`totals.js:16 Uncaught TypeError: Cannot read property 'items' of undefined
    at totals.js:16
    at Object.execCb (require.js:1650)
    at Object.context.execCb (resolver.js:145)
    at

[2020-07-14 15:01] Buckaroo-Rens commented on #38
@peterkeijsers  Thank you for notifying us. We will look into this 'issue' later this week/beginning of next week.

[2020-07-16 08:21] Buckaroo-Rens commented on #38
@peterkeijsers Thanks again for reaching out to us. We have tried to reproduce your issue but we cannot. Can you please provide us any additional information that can help us with researching this? Thank you in advance.

[2020-07-21 19:15] peterkeijsers commented on #38
Hi @Buckaroo-Rens

I can reproduce it on my fresh local Magento 2.3.5-p1 environment with Luma theme and buckaroo/magento2 v1.24.0.
I only have to install the module and enable Apple Pay method.

By enabling the module the following requirejs dependencies get called:

`Buckaroo_Magento2/js/view/checkout/applepay/catalog-product-view`
This module has the following dependencies:
[code]
And it this `

[2020-07-28 07:36] Buckaroo-Rens commented on #38
@peterkeijsers Thank you for the information. After testing with a clean, new installation we were able to reproduce your issue. We will solve this in our upcoming release. Thank you again for sharing.

[2020-07-28 14:30] JoostWan opened #39 "Klarna issue with free products"
We have a client that adds a free product to the shopping cart. The price for this product is zero. When the customer wants to place a order with Klarna we get a validation error. I did some debugging. When the price is zero with no tax percent the module sends an empty request for that article. See request below for GroupID 4. Thats the free product.

[code]

For now we changed the code on this l

[2020-07-28 14:52] JoostWan opened #40 "Issue when Klarna denied order"
When Klarna denied an order there is an error in the code: https://github.com/buckaroo-it/Magento2/blob/master/Observer/HandleFailedQuoteOrder.php#L64

[code]

We changed it to the following code and then it’s working fine. The order is being canceled and saved.
[code]

Can you also add the error message from Buckaroo/Klarna as a comment to the order with `$order->addStatusHistoryComment()` so the

[2020-07-29 09:27] Serializator opened #41 "Support Magento 2.4 / 2.3.5-p2"
I created this ticket for the sole purpose of keeping track of when support for Magento 2.4 / 2.3.5-p2 will be available and hopefully also what is happening / what progress is being made in the meantime.

[2020-07-29 09:28] Buckaroo-Rens commented on #41
@Serializator Thank you for your issue. We are planning on doing a release candidate tomorrow and full release with support for 2.4 next week.

[2020-07-30 07:16] JoostWan opened #42 "isGroupTransactionPart failed because of missing value brq_transactions"
When Buckaroo push the data after a successful checkout there is a error in the Magento logs;

`[2020-07-30 07:06:36] main.CRITICAL: Report ID: webapi-5f22717c3684d; Message: Notice: Undefined index: brq_transactions in /home/xxx/releases/20200729072923/vendor/buckaroo/magento2/Model/Push.php on line 1193 {"exception":"[object] (Exception(code: 0): Report ID: webapi-5f22717c3684d; Message: Notice:

[2020-07-30 07:21] vladislav-padalka-hys commented on #42
Hi @JoostWan !
Thanks for you report !
This error has been fixed ~2 weeks ago, but as for know it's available in master branch only
We expect to release new public version soon which will include that fix as well.

[2020-07-30 07:29] JoostWan commented on #42
When there will be a composer release with this issue fixed?

[2020-07-30 07:42] vladislav-padalka-hys commented on #42
we expect RC to be published today or tomorrow

[2020-08-04 11:33] timkoopmans50 commented on #41
I installed the pre-release on 2.3.5-P2. I'm the process of testing now.

Minor thing I found so far in the config screen is that it doesn't list 2.3.5 / 2.4 as compatible yet.

Magento version compatibility
Magento Commerce: 2.2.11, 2.3.4 Magento Open Source: 2.2.11, 2.3.4 Your PHP version: 7.3.18 Buckaroo version:1.25.0

[2020-08-04 11:40] Buckaroo-Rens commented on #41
@timkoopmans50  Thank you for informing us.

[2020-08-04 12:40] timkoopmans50 opened #43 "Afterpay in 1.25 pre-release not working"
Mobile phone number is not a default magento checkout field, but afterpay seems to require it as it either shows this error:
![image](https://user-images.githubusercontent.com/8133556/89294747-39042980-d660-11ea-8b75-59c17982b794.png)

or returns to an empty checkout/cart.

Both are weird, because mobile phone number isn't a checkout field in Magento.

Environment:

PHP 7.3, Magento 2.3.5-P2, Buck

[2020-08-04 12:49] vladislav-padalka-hys commented on #43
Hi @timkoopmans50 !
Thanks for your report !
We've checked AfterPay exactly at the same magento/plugin version and it works.
Could you please provide more info and / or examples to us ?

[2020-08-04 14:14] timkoopmans50 commented on #43
Additional information: I used phone number 1234567890, it caused an "out of range" error. I went back to the checkout to correct the phone number, but got stuck after that. This might be the reason it goes through your tests: if you use perfect values the first time you will get through, but you might not ever be able to pay after you make a mistake.

On the staging environment I communicated ear

[2020-08-04 14:17] timkoopmans50 commented on #43
Also impossible to pay after you try to use afterpay and forgot to enter a street number in the adress line.

[2020-08-04 14:40] vladislav-padalka-hys commented on #38
FYI: should be gone in https://github.com/buckaroo-it/Magento2/releases/tag/v1.25.0-RC1

[2020-08-07 09:00] Buckaroo-Rens commented on #43
@timkoopmans50 Thank you for the additional information. We are currently able to reproduce the issue and working on solving it. We plan to include this in our upcoming release.

[2020-08-09 08:56] JoostWan opened #44 "Klarna invoice: Cannot do a Buckaroo transaction when 'mode' is not set or set to 0."
Magento version: 2.3.5
Buckaroo version: 1.25-rc

Steps;

1. Set Buckaroo in test modus
2. Set Klarna payment method in test modus
3. Set auto invoice in shipment for Klarna order
4. Place an order with test credentials.
5. Ship the order from the backend in M2

Now you see there is not invoice created. In the order comments there is a error message:

_Exception message: Cannot do a Buckaroo trans

[2020-08-09 09:16] JoostWan opened #45 "Klarna telephone field is missing at payment method"
Magento version: 2.3.5
Buckaroo version: 1.25-rc
Checkout: Onestepcheckout.com

The telephone field is not required at the shop for customers. So there is no field for the customer with telephone number. The Buckaroo module checks if the customer has a telephone number. If there is no number the module will add a field on the payment method. But this is not working for us. We changed the follow fi

[2020-08-09 09:23] JoostWan commented on #45
Same issue for Klarna.

view/frontend/web/js/view/payment/method-renderer/klarnakp.js

[2020-08-10 06:45] vladislav-padalka-hys commented on #44
Hi @JoostWan !
Thanks for the report, but it's known issue and it was already fixed and tested at our stagings.
We except to have a new release soon.

[2020-08-10 06:47] JoostWan commented on #44
Can you give a link to the commit where it's fixed?

[2020-08-10 08:20] Buckaroo-Rens commented on #42
Issue was fixed in 1.25.0-RC1

[2020-08-10 08:20] #42 closed

[2020-08-10 10:44] vladislav-padalka-hys commented on #44
https://github.com/buckaroo-it/Magento2/commit/b575a7395358f3ad8c71b846cd0186175091b04a#diff-5f846cfc214e913e134c6ef0c6376503
and as I can see it's already was installed at your staging, so I even can pass mentioned steps to reproduce
please see my order 100681632 with shipment and invoice automatically created

[2020-08-10 10:45] vladislav-padalka-hys commented on #45
Thanks for your report !
It was added to the master branch : https://github.com/buckaroo-it/Magento2/commit/4885a0b1d864e6541382b0569746140d1ebbb449

[2020-08-10 10:46] vladislav-padalka-hys commented on #40
Thanks for your report !
It was added to the master branch :
https://github.com/buckaroo-it/Magento2/commit/40f4a3dba3e8447ae9b51520649b1357466e9d00
https://github.com/buckaroo-it/Magento2/commit/57039822d72ac0f9bc6ce53744de3614e1fcf133

[2020-08-10 10:47] vladislav-padalka-hys commented on #39
Thanks for your report !
It was added to the master branch : https://github.com/buckaroo-it/Magento2/commit/7ddb432bd1006c8a898946eb86529f86f50c26de

[2020-08-10 13:19] JoostWan opened #46 "Improvement error messages"
When a customer click on Klarna payment method and click the prefix the get two field errors. That's strange and nog very friendly. Can the check for this fields made on order place button?

![Screenshot 2020-08-10 at 15 17 17](https://user-images.githubusercontent.com/5435412/89786839-dce84c00-db1c-11ea-892e-2245496ed14d.png)

[2020-08-10 13:33] Buckaroo-Rens commented on #46
For now i will close this since it is not a 'issue'. Of course it would be an improvement but for now not blocking from making orders.

[2020-08-10 13:33] #46 closed

[2020-08-10 14:38] JoostWan commented on #46
@Buckaroo-Rens I understand that. But this is not good for the conversion. Error messages are not needed in this case. It's because the module creates a call on a check function every time you click on the field. For big customers this is not acceptable.

[2020-08-11 09:13] Buckaroo-Rens commented on #45
Fix included in latest release 1.25.2

[2020-08-11 09:14] Buckaroo-Rens commented on #44
Fix included in latest release 1.25.2

[2020-08-11 09:14] #44 closed

[2020-08-11 09:14] Buckaroo-Rens commented on #43
@timkoopmans50 Thanks again for the additional informaton. Fix is included in latest release 1.25.2

[2020-08-11 09:14] #43 closed

[2020-08-11 09:15] Buckaroo-Rens commented on #41
Fix included in latest release 1.25.2

[2020-08-11 09:15] #41 closed

[2020-08-11 09:15] Buckaroo-Rens commented on #40
Fix included in latest release 1.25.2

[2020-08-11 09:15] #40 closed

[2020-08-11 09:15] Buckaroo-Rens commented on #39
Fix included in latest release 1.25.2

[2020-08-11 09:15] #39 closed

[2020-08-11 09:16] Buckaroo-Rens commented on #38
Fix included in latest release 1.25.2

[2020-08-11 09:16] #38 closed

[2020-09-11 09:21] boldsidney opened #48 "[BP-569] Afterpay (old) refunds with third party gift card gives error"
Buckaroo version v1.15.0 added support for amasty gift cards. This works great when placing orders, however when creating a credit memo we get the error
![image](https://user-images.githubusercontent.com/26161010/92892105-c0d81300-f418-11ea-805b-7c5a48916eec.png)

This is due to the grand total excluding gift card value being send as reference value, which is then compared to the grand total on th

[2020-09-25 08:10] Buckaroo-Rens commented on #48
Thank you for your issue. We will start researching this in our next sprint (5oct - 16 oct).

[2020-10-06 09:08] robbertstevens opened #50 "Flaw in `AbstractConfigProvider`"
Hello,

Currently I am investigating an issue we have in one of our shops. The issue is that the buckaroo fee for transactions was not displayed inclusive tax. But I believe the exact issue is not relevant because the cause is much deeper than this.

I have tracked this down to the `AbstractConfigProvider::__call`  method. What this method does is dynamically create a string which should be a cons

[2020-10-06 09:10] robbertstevens commented on #50
@Buckaroo-Rens

[2020-10-06 11:10] vladislav-padalka-hys commented on #50
@robbertstevens  thank you for your report !

But as far as we know interceptors are used not in all of cases in Magento.
They are in use only in case if plugin(s) were assigned to specific class.
ConfigProvider classes exactly that case.
You can check that logic inside Magento's framework core (for example 'getInstanceType' method)
We've also debugged "$constant" variable inside method mentioned

[2020-10-06 11:22] robbertstevens commented on #50
We indeed have an plugin on the `Buckaroo\Magento2\Model\ConfigProvider\BuckarooFee` this should be possible, but because of the above it breaks.

The solution I gave is really easy to implement and it will make the code much better in general. It will make the code also much easier to extend via plugins because you do not have to do some trickery with making plugins on a magic method. And you do

[2020-10-06 11:40] vladislav-padalka-hys commented on #50
it's good to know that we were right in our research according to custom plugin you have

solution you gave is easy to implement, but when it's for only one config variable
when you have tens of variables, then it will be tens of copy-paste methods also which is not good assuming DRY principle, so we will remain compact (__call) based approach

[2020-10-06 11:50] robbertstevens commented on #50
You are not repeating anything right?  All the methods you will add are different and will return different values. So you will not repeat yourself.

[2020-10-06 12:00] vladislav-padalka-hys commented on #50
making of tens similar access methods is possible and much more trivial than existing approach , but existing approach allows us to remains code more compact and easy to change if needed

[2020-10-06 12:05] Buckaroo-Rens commented on #50
@robbertstevens Like my colleague @vladislav-padalka-hys mentioned, we are currently not planning to change this. This piece of code is in here since the start of our plugin. We are always open to new/better changes but for now we see no direct improvement for **all** of our merchants by changing this.

I will put your feedback on our backlog and we will discuss this later this year.

If you need

[2020-10-13 11:16] Buckaroo-Rens commented on #48
@boldsidney We made a chance in our plugin. Are you able to test is? Since we do not have licence to this plugin and still awaiting response from Amasty. https://github.com/buckaroo-it/Magento2/issues/48

[2020-10-14 13:38] erwinromkes opened #51 "[BP-528] Modal can't be closed"
After a new install of the module you get an model with _important information_, this modal can't be closed with the button **Done** With the ESC key the modal will be closed.

![Screenshot from 2020-10-14 15-33-42](https://user-images.githubusercontent.com/61180307/95996521-0d0cdd80-0e33-11eb-87d4-2a47ab330970.png)

**Environment**
PHP 7.3, Magento 2.4.0, Buckaroo 1.26 prelease.

[2020-10-15 13:50] dmanners opened #52 "[BP-596] Payment pending and canceled issue with PayPal"
Hello,

We are using the module version 1.24.0 with Magento Commerce 2.3.3 with a multistore setup. We are currently experiencing two issues with PayPal with this module.

1. When selecting success in the buckroo system the redirect back to Magento happens but the order is not correctly linked back to the currently logged in user. The success page does not include a link to the order as expected w

[2020-10-15 13:52] Buckaroo-Rens commented on #52
@dmanners  Thank you for the information. We will try to research this a.s.a.p.

[2020-10-15 13:54] Buckaroo-Rens commented on #51
@erwinromkes Thank you for the information. We cannot reproduce this at our own testing environment. Did you indeed do a complete new install or did you do a upgrade from a older version of our plugin?

[2020-10-16 06:27] erwinromkes commented on #51
It happen on a complete new Magento 2.4.0 installation with the 1.26 release.

[2020-10-19 04:39] eshaudigital commented on #51
Im facing the same issue.

I have upgraded magento version (2.2.9 > 2.4.0) and upgraded buckaroo payment (1.15.2 > 1.26.0) cant close the modal notification.
already asked buckaroo support, and the answer is to follow installation note :

but it still didn't solve my problem, even though i followed the advice.
and now I just got rid of it by hard coded the extension changing autoOpen option to fal

[2020-10-19 08:55] Buckaroo-Rens commented on #51
Thank you @erwinromkes and @eshaudigital for the extra information. We will research this in our next sprint.

[2020-10-19 10:37] Buckaroo-Rens commented on #48
@boldsidney Did you do any tests allready?

[2020-10-19 16:03] boldsidney commented on #48
Hi @Buckaroo-Rens ,

I've tested it on magento 2.3.5-p2 with buckaroo version 1.26.0. Unfortunately it's still not working.

Looking at the code changes, it would seem that the fix was done by making use of the discount amount data. However, the amasty giftcard doesn't work like that. Rather than working with the core magento discount fields, it just records the discount separately in its own tabl

[2020-10-20 10:42] dmanners commented on #52
It seems to be an issue with the way quotes are recreated and the enterprise module `magento/module-checkout-staging`.

This module will die when it tries to save the quote id as it is already in its database table.

[code]

After removing this plugin the recreation of the quote is working again. I wonder if there is a way rather than recreate the old quote with the same ID but to recreate this in

[2020-10-23 08:19] peteresser opened #54 "[BP-526] Customers get logged out or lose cart content on Magento storefront"
Hi Buckaroo,

When placing an order, go to the payment screens in Buckaroo and redirected back, the customer session is lost.
We have the issue with Magento 2.4.1 and it exactly looks like the problem as described here https://support.magento.com/hc/en-us/articles/360049032952-Customers-get-logged-out-or-lose-cart-content-on-Magento-storefront

We checked with your latest version (1.26.0). Can you

[2020-10-23 10:19] Buckaroo-Rens commented on #54
@peteresser We are aware of this Magento bug and we fixed multiple things on our end. We are aware that some merchants are still having problems with this. Please have a close look at the Magento issue: https://github.com/magento/magento2/issues/26377 also a possible work-arround: https://github.com/magento/magento2/issues/26377#issuecomment-585497122

For now we are not working on any other fixes

[2020-10-26 03:23] tuyennn commented on #54
@Buckaroo-Rens @peteresser To be honest this was not the bug from Magento, the SameSite cookie approaching was released  from Feb 2020 by Chrome Browser at first.
Magento has also released the 2.4.1 with the updates to support this.
From the payment gateways, 3DS seem to be **deprecated**, they should be replaced from providers, switching to API for example.

[2020-10-27 06:54] timkoopmans50 opened #55 "[BP-510] 2.3.6 compatibility? (framework 102.0.6 compatibility)"
buckaroo/magento2 v1.26.0 requires magento/framework >=100.1.0,<=100.1.18|>=101.0.0,<=101.0.11|>=102.0.0,<=102.0.5-p2|102.0.2-p2|>=103.0.0 -> satisfiable by magento/framework[102.0.5-p2, 103.0.1, 103.0.0-p1, 103.0.0, 102.0.4-p2, 102.0.5, 102.0.4-p1, 102.0.3-p1, 102.0.4, 101.0.11, 102.0.2-p2, 101.0.10, 102.0.3, 101.0.9, 100.1.18, 102.0.2, 101.0.8, 102.0.1, 100.1.17, 102.0.0, 101.0.7, 100.1.16, 101.

[2020-10-27 09:32] Buckaroo-Rens commented on #55
Hello @timkoopmans50 We are currently in our final stage of testing and expecting a new release next week (wednesday or thursday). This release will include support for Magento 2.3.6.

[2020-10-27 09:34] Buckaroo-Rens commented on #54
@tuyennn  We will do some additional research. I'm aware that originally it's a 'browser update' what caused this issue.

[2020-11-02 19:30] wouterfolkertsma opened #56 "[BP-568] Having creditcards on and IDEAL off breaks the checkout as of 1.26.0"
Hello everyone,

While deploying a shop for a customer we came across the following bug.
In the following file, the method-renderer for the credit cards tries to fetch a configuration setting for IDEAL from the window.checkoutconfig.

https://github.com/buckaroo-it/Magento2/blob/master/view/frontend/web/js/view/payment/method-renderer/creditcard.js
On line 78 you see the following:
`this.selection

[2020-11-03 12:44] paul-stolk-webdiensten commented on #56
Same here. I was able to solve it with:

[code]

But it would make more sense to use creditcard.

This is about https://github.com/buckaroo-it/Magento2/blob/master/view/frontend/web/js/view/payment/method-renderer/creditcard.js#L78

[2020-11-03 12:46] Buckaroo-Rens commented on #56
@paul-stolk-webdiensten Thank you for the information. We will try to research this a.s.a.p. Did you test on Buckaroo v1.26.0?

[2020-11-03 12:48] paul-stolk-webdiensten commented on #56
Buckaroo 1.26.0, Magento ver. 2.3.3-p1.

[2020-11-04 12:33] seegrand commented on #56
This is the composer patch we used to fix it temporarily:

[code]

It hardcodes the selectionType to radio buttons (use `"2"` for dropdown) because when the iDeal payment method is disable, this object is not available in the creditcard conifg. But hey, it's something.

[2020-11-04 14:35] peterjaap commented on #55
Thanks for 1.27.0!

[2020-11-09 15:49] stefanfr commented on #54
@Buckaroo-Rens, @tuyennn, I had the same issue. Logged out after the redirect from Buckaroo payment page.
I've added
`$this->checkoutSession->regenerateId();`
To file `Controller/Redirect/Process.php` at line 425 and 474 to reset the customer cookie. After this change I stayed logged in after canceling and landing on the succespage.

[2020-11-12 13:41] Buckaroo-Rens commented on #54
@peteresser @tuyennn @stefanfr We made some adjustments to our code and it will be published into our next release which will follow next week.

[2020-11-12 13:50] Buckaroo-Rens commented on #51
Changes are made to our code, will be released soon.

[2020-11-15 20:44] tbiest commented on #55
I am running 2.3.6 with 1.27.0 but it seems to have a bug in it causing an error 400 bad request in relation to the rest API. Although the checkout still works I think this is not the way it supposed to work? Is the compatibility for 2.3.6 fully tested?

[2020-11-25 13:02] arnoudhgz commented on #54
@Buckaroo-Rens  any update on this? Next week since November 12th has already passed :)

[2020-11-26 10:15] Buckaroo-Rens commented on #54
@arnoudhgz Sorry, testing took at bit longer. We expect our release today.

[2020-11-27 10:56] Buckaroo-Rens commented on #54
Fix is released in v1.28.0.

[2020-11-27 10:56] #54 closed

[2020-11-27 10:58] Buckaroo-Rens commented on #51
Published in latest release 1.28.0.

[2020-11-27 10:58] #51 closed

[2020-11-27 11:02] Buckaroo-Rens commented on #52
Unfortunately we are currently unable to reproduce this issue. Can you please contact our support team > support@buckaroo.nl with all the information, some staging actions and steps to reproduce this? Thanks you in advance.

[2020-11-27 11:05] Buckaroo-Rens commented on #55
@tbiest 2.3.6 is fully tested and should be compatible. Please also check our latest release.

[2020-11-27 11:05] #55 closed

[2020-12-08 08:56] CyberSecutor opened #58 "[BP-582] Cookie must be secure in order to use the SameSite None directive in v1.28.0 and v1.29.0"
We are running a couple of magento application servers behind an SSL offloading loadbalancer.

This means magento is only receiving HTTP:// requests.

The problem is that you r lates fix tries to set a SameSite cookie which apparently needs the secure bit to be set.
This secure bit isn't set automatically when not running on HTTPS so it has to be explicitly set.

I have already created a Pull requ

[2020-12-08 12:40] jasperzeinstra opened #59 "Afterpay not working in version v1.29.0"
See my comment on the commit https://github.com/buckaroo-it/Magento2/commit/348d153cfa7382ebdce67638750083febe2cc748#r44915440

Some code was refactored to simplify shipping cost incl or excl tax. But not the shippingcost or only send incltax when the store configuration setting is set to excl tax.

https://github.com/buckaroo-it/Magento2/blob/v1.29.0/Model/Method/Afterpay.php#L950 (line 950)

[2020-12-09 09:15] Buckaroo-Rens commented on #56
The issue is fixed from Buckaroo version 1.28.0

[2020-12-09 09:15] #56 closed

[2020-12-09 09:41] Buckaroo-Rens commented on #59
@jasperzeinstra We will look into this a.s.a.p.

[2020-12-09 13:12] ericclaeren commented on #59
Great catch @jasperzeinstra this would have gotten us in serious problems when deploying to production.

[2020-12-09 13:29] Buckaroo-Rens commented on #58
We will look into your pull request a.s.a.p.

[2020-12-09 13:39] jasperzeinstra commented on #59
Well, we deployed it to production :disappointed:

[2020-12-09 13:53] Buckaroo-Rens commented on #59
@jasperzeinstra @ericclaeren Please check the commit of my colleague Sergey.

[2020-12-09 14:57] Johan-We-Provide commented on #59
This commit solved the problem. Thank you for the fix.

[2020-12-10 15:43] hilbertknl opened #60 "[BP-599] No error message when iDeal issuer not selected"
Hi,

While using Onestepcheckout and Buckaroo;
A customer has the ability to click the submit button without filling in the iDeal Issuer.
The customer does not get a warning of error message (as expected).
When changing the issuer dropdown to a random value and back to the placeholder, a warning will be shown after clicking the submit button.

Can you fix this? We are missing orders trough this bu

[2020-12-14 08:40] Johan-We-Provide commented on #59
Hi @Buckaroo-Rens,

Is there an estimated time about when there will be a new release with this bug fix?

Thanks in advance

[2020-12-14 09:15] Buckaroo-Rens commented on #59
@Johan-We-Provide We will do a release today with this specific fix.

[2020-12-14 09:44] Johan-We-Provide commented on #59
@Buckaroo-Rens Thank you for the information.

[2020-12-14 11:47] Buckaroo-Rens commented on #59
= released.

[2020-12-14 11:47] #59 closed

[2020-12-16 10:13] mlaurense opened #61 "[BP-600] Firefox shows iDEAL bank name twice"
![winkelwagen](https://user-images.githubusercontent.com/16759472/102334894-8047e280-3f8f-11eb-8280-8280ecf8d020.jpeg)

This is because the text attribute is set on the input radio: https://github.com/buckaroo-it/Magento2/blob/master/view/frontend/web/template/payment/buckaroo_magento2_ideal.html#L35

This also appears in other templates, e.g. https://github.com/buckaroo-it/Magento2/blob/master/vi

[2020-12-17 12:00] evs-xsarus opened #62 "[BP-601] Save payment after skip_push fails"
After selecting a creditcard as payment method, no Buckaroo site is shown, but instead an error is thrown:

I've managed to pinpoint this due to the 'skip_push' implementation. This is also the reason why I have no problems with iDeal as the skip_push isn't applied to this payment method.

See:

* vendor/buckaroo/magento2/Model/Method/Creditcards.php::getOrderTransactionBuilder
* vendor/buckaroo/m

[2020-12-22 12:16] CyberSecutor commented on #58
Hi @Buckaroo-Rens ,

thank you for checking the issue. I see you added the Released tag, however my PR isn't merged yet so the fix is not present in the 1.29.1 release.
https://github.com/buckaroo-it/Magento2/pull/57

[2020-12-24 09:50] Buckaroo-Rens commented on #60
Hi @hilbertknl Can you let me know what version of the OneStepCheckout you are using.

[2020-12-24 13:19] Buckaroo-Rens commented on #58
100% correct @CyberSecutor will will take this into our next release.

[2020-12-24 13:19] #58 closed

[2020-12-24 13:24] Buckaroo-Rens commented on #61
Can you give us some additional information? Since we are unable to reproduce this within multiple setups or at other merchants. Please provide us the following information:

- What browser are us testing with?
- What Buckaroo version do you use?
- What checkout extension do you use?

[2021-01-07 11:40] Buckaroo-Rens commented on #61
@mlaurense Did you see my last questions?

[2021-01-07 11:42] Buckaroo-Rens commented on #62
Issue will be fixed in our next release.

[2021-01-07 11:42] Buckaroo-Rens commented on #60
Issue will be fixed in our next release.

[2021-01-07 11:44] Buckaroo-Rens commented on #52
Ticket closed, issue is being researched true our standard support channels.

[2021-01-07 11:44] #52 closed

[2021-01-07 11:46] Buckaroo-Rens commented on #48
We made some final changes in version 1.30 which is already released.

[2021-01-07 11:46] #48 closed

[2021-01-07 12:59] mlaurense commented on #61
Sorry @Buckaroo-Rens I must have missed your previous comment.

I tested this some more, and cannot reproduce this on another site using Buckaroo using the default styling. This problematic website has a custom styling on the input, using '-webkit-appearance: none'. Probably a higher element has a 'display: flex', causing the element to use the space necessary to show the bank name. Setting these

[2021-01-07 13:11] Buckaroo-Rens commented on #61
@mlaurense Thank you for the additional information. We will do some additional research. It's very old code and we never had complains over the past years but will try to search for a better solution. In the meantime, maybe a solution for you is to use the dropdown instead of radio buttons. In the default configuration of the Buckaroo plugin you can change the radio buttons to dropdown selection.

[2021-01-13 09:41] Buckaroo-Rens commented on #60
Released.

[2021-01-13 09:41] #60 closed

[2021-01-13 09:42] Buckaroo-Rens commented on #62
Released.

[2021-01-13 09:42] #62 closed

[2021-01-13 09:51] Buckaroo-Rens commented on #61
@mlaurense We are unable to reproduce this at our own staging enverioment. Is there any change you can share a staging enverioment with us? You can conact me directly at plugins@buckaroo.nl

Thank you in advance.

[2021-01-22 08:50] j-stam opened #64 "[BP-640] v1.30.0 - Cookie must be secure in order to use the SameSite None directive."
Using: Magento 2.4.1 and module version v1.30.0

I encountered the following error: `Cookie must be secure in order to use the SameSite None directive.` with the FixSession.php plugin where the SameSite cooke is changed to None.

The SameSite parameter is changed before my cookie is set to be secure, which triggers this issue.

This patch fixes the issue.

[code]

[2021-01-22 11:09] Buckaroo-Rens commented on #64
Hello @j-stam, a simmular issue should have been solved in 1.30 but we will research your request again. Please take a close look at: https://github.com/buckaroo-it/Magento2/commit/ce7a0c85d1899c6e44af371e4ef8aad329cb3f30

[2021-01-23 20:16] j-stam commented on #64
@Buckaroo-Rens

The fix made in ce7a0c8 isn't working for me because the cookie that is being modified isn't secure, changing the order of setting secure and samesite (as seen in the patch i provided) fixes this issue because secure is forced before samesite is changed.

[2021-02-09 17:59] arnoudhgz opened #79 "Exception: cannot modify header information on order success"
When doing a successful payment I get this error message:
`report.CRITICAL: Warning: Cannot modify header information - headers already sent by.....`

It is caused by this line:
This line: https://github.com/buckaroo-it/Magento2/commit/55c956386b8dc76d56cfe546c92801356c60a047#diff-ce9300638a4365768718bcc7a10fd42951834288566d775b5a9591b6aa275e3cR68

To me it seems as some developer debug code and s

[2021-02-09 18:59] saranchuk-hys commented on #79
Hello @arnoudhgz   .Thank you for your issue. Yes it already fixed https://github.com/buckaroo-it/Magento2/commit/533c1f1c3a5aea9d1d52817f4dcae2933bb8bbfe and prepered to release

[2021-02-09 21:02] arnoudhgz commented on #79
@saranchuk-hys thanks!

[2021-02-09 21:02] #79 closed

[2021-02-11 09:35] Buckaroo-Rens commented on #61
@mlaurense Issue is fixed and release in v1.32

[2021-02-11 09:35] #61 closed

[2021-02-11 09:36] Buckaroo-Rens commented on #64
Issue is fixed and released in v1.32

[2021-02-11 09:36] #64 closed

[2021-03-05 09:23] paales opened #148 "GraphQL Support"
Hi there! We've got a few clients coming up that would like to use (keep using) Buckaroo with a Magento 2 PWA. To communicate to the backend of Magento 2 we communicate over GraphQL.

GraphQL is way forward to support Magento 2's PWA Studio and other custom PWA solutions. We'd be very thrilled to be able to use buckaroo for our frontend stack.

In an ideal scenario we'd like to have the following:

[2021-03-24 13:44] mgroensmit opened #170 "[BP-738] Paypal factureert volledige orderbedrag na gebruik giftcard"
Als een gebruiker een gedeelte van de order met een giftcard betaald en de rest met PayPal wil betalen wordt het volledige bedrag in rekening gebracht.

Op basis van eerder contact dat een collega  van mij had met Buckaroo lijkt het probleem te liggen in het gebruik van de 'Pay' action op regel 102 van de \Buckaroo\Magento2\Model\Method\Paypal class, in plaats van de 'PayRemainder' action, zoals g

[2021-03-24 13:48] Buckaroo-Rens commented on #170
@mgroensmit Dit is inderdaad aan bekend probleem en word in onze huidige sprint opgepakt. Bedankt voor het melden.

[2021-03-24 14:06] mgroensmit commented on #170
Ik heb een PR gemaakt: https://github.com/buckaroo-it/Magento2/pull/171

[2021-04-07 07:08] mgroensmit commented on #170
I can see my PR (https://github.com/buckaroo-it/Magento2/pull/175) was merged to develop, but has not been included in the latest release (v1.34). What's the status of this issue? Is there an indication when this will be resolved in a release version?

[2021-04-19 12:39] Buckaroo-Rens commented on #170
@mgroensmit Sorry for the late response. Your fix has indeed been merged but was not fully tested for our latest release. We are planning on releasing it this week.

[2021-04-23 09:22] Buckaroo-Rens commented on #170
Release will be done next monday/tuesday.

[2021-04-26 13:46] Buckaroo-Rens commented on #170
Released in 1.35.0

[2021-04-26 13:46] #170 closed

[2021-05-18 11:40] markvds commented on #50
I'd like to second the issue. I wrote a plugin for the iDeal config provider to apply a custom sorting on the issuers and then discovered that the module stopped working.

I have written a patch (for which I created a pull request in the TIG era) that uses another approach: just strip off the 'Interceptor' part:

[code]

You can find the commit here: https://github.com/ecomni/buckaroo-magento2/com

[2021-05-18 12:18] florinel-chis commented on #50
@markvds Thank you for your comment. Need to Look at the details from @robbertstevens which look valid to me. In the meantime feel free to submit a PR, please branch off develop - [Contribution Guidelines](https://github.com/buckaroo-it/Magento2/blob/master/CONTRIBUTING.md)

[2021-05-21 08:41] Epo123 opened #238 "No error message when configuration is incorrect"
Hello,

We recently had the issue that if the configuration (secret_key, (Merchant) Key, (Merchant) guid) is not correct, there is no error message stating that this is the case anywhere (Magento backend/logs/Buckaroo backend). This can be really confusing because everything appears to be setup correctly but when you try to place an order Buckaroo just doesn't create an invoice and doesn't make th

[2021-05-21 08:43] florinel-chis commented on #238
Hi @Epo123, agreed, this sounds like a useful feature, will be added to the backlog and will let you know about the progress.

[2021-06-02 18:56] florinel-chis commented on #50
@robbertstevens
FYI, In this PR I am trying to tackle the raised issue - removing the magic __call() and implementing the actual functions - https://github.com/buckaroo-it/Magento2/pull/246 - feedback would be welcome.

[2021-06-15 09:35] stefanfr opened #270 "Quote with 100% discount still returns unavailable payment methods"
Hi There,

Just testing the latest version of the module when I found out that when you apply a coupon code with 100% discount, resulting in a 0 value order the activated payment methods within Buckaroo are still showing in the checkout. However when selecting one of them results in a 400 error with the message:
```The requested payment method is not available```

There is an option to set the min

[2021-06-15 10:37] vladislav-padalka-hys commented on #270
Hi @stefanfr !

First of all : thanks a lot for your request !

But it's quite strange, because we've quickly checked zero amount checkout and saw no Buckaroo payment methods activated  in such case.
It's actual for the latest version 1.36.1 , as well as one of previous (1.35.0)
Please check below screenshots :

https://drive.google.com/file/d/14FoxsjZd3i-1QAPuBrehsCpie9Lp9j7z/view?usp=sharing
htt

[2021-06-15 11:14] stefanfr commented on #270
Hi @vladislav-padalka-hys,

I'm sorry if forgot to mention that we have a headless checkout and are using the API to collect the payment methods. Within the response the Buckaroo methods are persent and no attribute states it should be disabled.

When i check this in the Magento checkout itself the request also returns those methods. Are those methods hidden via the frontend or should they also be

[2021-06-15 12:09] vladislav-padalka-hys commented on #270
@stefanfr looks like we are able to reproduce the issue : it's enough to disable Magento's "Zero Subtotal Checkout" method and in such case by default methods will be visible if total is 0
we will schedule a fix for this and let you know when it will be available
thanks again !

[2021-06-16 13:38] ericclaeren opened #273 "savePaymentMethod on non-buckaroo payment methods."
Hi,

When combining Buckaroo with another payment provider, Buckaroo calls an ajax request on the non-Buckaroo payment provider. This unwanted call provides additional traffic and may have unwanted side effects, depending on the order of methods called.

The init function attaches a click handler for non-buckaroo payment methods.
https://github.com/buckaroo-it/Magento2/blob/master/view/frontend/we

[2021-06-16 13:44] florinel-chis commented on #273
Hi @ericclaeren , Good input, we'll add this to the backlog and notify when we'll release the updated version.

[2021-06-17 06:41] vladislav-padalka-hys commented on #273
Good morning @ericclaeren !

Thanks a lot for your request !
We've made a fix to prevent click handler firing on methods other than Buckaroo's ones.
And it will go to upcoming public release soon.

[2021-06-17 12:33] ericclaeren commented on #273
Thank you @vladislav-padalka-hys

I have patched our module and can confirm this issue is no longer present.

[2021-06-17 12:34] vladislav-padalka-hys commented on #273
Great @ericclaeren !
Thanks again for your help!

[2021-06-20 14:56] Kees-kees opened #277 "Apple pay button in minicart"
Hi,

I was wondering if you are planning to add the option to display the Apple Pay button in the minicart, keeping the same functionality as in the cart page. This could provide with more added-value, as the one that serves the Paypal Express Checkout button in Magento 2 (which can be displayed as in the minicart as in the cart page).

Kind regards,

[2021-06-23 11:50] vladislav-padalka-hys commented on #270
Good afternoon @stefanfr !

We've made a fix and it will be available in upcoming release soon!

[2021-07-06 11:52] Buckaroo-Rens commented on #277
Hello @Kees-kees we placed this item on our backlog. It's for sure something we will implement but i can't give you a good time indication. Will keep you posted in this 'issue'.

[2021-07-19 13:13] sarbjeet-cmsDev opened #317 "SOAP-ERROR: Encoding: string '\\xd5...' is not a valid utf-8 string"
Hey I am getting the exception in module
[2021-07-19 13:07:54] main.CRITICAL: SOAP-ERROR: Encoding: string '\xd5...' is not a valid utf-8 string {"exception":"[object] (SoapFault(code: 0): SOAP-ERROR: Encoding: string '\\xd5...' is not a valid utf-8 string at vendor/buckaroo/magento2/Soap/Client/SoapClientWSSEC.php:38)"} []

PHP version 7.4
Magento Version 2.4.2

[2021-07-20 08:09] Buckaroo-Rens commented on #317
Did you clear WSDL cash @sarbjeet-cmsDev?

[2021-07-20 16:19] sarbjeet-cmsDev commented on #317
@Buckaroo-Rens  Did you meant WSDL cache?
how to do that for plugin?

[2021-07-21 06:54] vladislav-padalka-hys commented on #317
Hi @sarbjeet-cmsDev !
Usually it's about removing of all wsdl* files in your /tmp folder

[2021-07-21 11:02] ericclaeren commented on #45
@Buckaroo-Rens

Have the same issue with Klarna, did you remove the phone validation? Using 1.36.0 and there's nothing in klarna.js to be found for phone.

The phone number in Magento is optional while your Klarna API says it's required. This has quite some implications for users during checkout.

Cheers, Eric

[2021-07-21 13:43] Buckaroo-Rens commented on #45
@ericclaeren Validation is not removed, it's just not available for Klarna since they validate differently then AfterPay. This is something we will look into. Thanks for mentioning. Will reopen the ticket.

[2021-07-21 15:10] sarbjeet-cmsDev commented on #317
@vladislav-padalka-hys @Buckaroo-Rens
/tmp does not have any wsdl files
even I tried to soap.wsdl_cache_enabled = 0
it did not work

[2021-07-22 03:29] sarbjeet-cmsDev commented on #317
/tmp does not have any wsdl files
even I tried to soap.wsdl_cache_enabled = 0
it did not work

[2021-07-22 08:30] vladislav-padalka-hys commented on #317
Hi @sarbjeet-cmsDev !
Could you please clarify : is it new installation of Buckaroo's plugin or you did an upgrade ?
If so, then what was previous version?
Also, did you update PHP version?

[2021-07-23 14:08] sarbjeet-cmsDev commented on #317
It is new installation on Buckaroo's plugin on latest version 2.4.2
Yes I am using latest php version 7.4

[2021-07-26 11:36] vladislav-padalka-hys commented on #317
@sarbjeet-cmsDev we've tested it exactly with the same versions you've provided and it is ok for us
So to try help with your case we need your installation location and kind of an access
Please post a request to https://support.buckaroo.nl/contact

[2021-08-18 07:17] vladislav-padalka-hys commented on #317
Hi @sarbjeet-cmsDev !

After receiving an access to your staging environment I can say that error was due to wrong values entered for merchant/secret keys. Actually there were some strange (non UTF8 symbols) in your DB. So probably you've entered them by mistake. After changing them to valid merchant/secret keys it's started to work properly.
Anyway please check and confirm.

Thanks in advance !

[2021-08-18 07:19] #317 closed

[2021-08-18 07:22] Buckaroo-Rens commented on #270
Released in 1.37

[2021-08-18 07:22] #270 closed

[2021-08-18 07:23] Buckaroo-Rens commented on #273
Released in 1.37

[2021-08-18 07:23] #273 closed

[2021-08-19 11:18] NickdeK opened #350 "Ideal payment method selection triggers "Please select a issuer from the list" error"
This happens in `vendor/buckaroo/magento2/view/frontend/web/js/view/payment/method-renderer/ideal.js:153` that triggers a `set-payment-information` request. This eventually leads to a response from `vendor/buckaroo/magento2/Model/Method/Ideal.php:155` with the error.

![buckaroo_ideal_error_1](https://user-images.githubusercontent.com/6631170/130059803-7989e1c1-9844-4069-a499-65d94e6aa090.png)
![b

[2021-08-19 11:42] Buckaroo-Rens commented on #350
Thanks @NickdeK, we are looking into this :)

[2021-08-23 14:00] JosRomateFashcom opened #353 "database index bug"
Hi,

There is an bug in the type of the index of BUCKAROO_MAGENTO2_SECOND_CHANCE_TOKEN
Fixed it by changing the index Type from "BTREE" to "FULLTEXT"

we are using version 1.37.0

Regards
Jos

[2021-08-25 08:05] NickdeK commented on #350
Hi @Buckaroo-Rens, sorry to bother you, but do you have any update on this? If you have a quick fix that we could apply temporally that would be already by helpful :)

[2021-08-25 09:17] florinel-chis commented on #350
Hi @NickdeK
I went through the reported issue and compared it with the standard Magento checkout that is supported

<img width="1475" alt="buckaroo-ideal-skip-validation" src="https://user-images.githubusercontent.com/2117053/130761793-552559dc-6c7d-4926-8db8-a64a81a0b556.png">

The request sent to set-payment-information contains the skip-validation
[code]
and it's been like that for quite some t

[2021-08-25 14:10] florinel-chis commented on #353
Hi @JosRomateFashcom,
can you explain a bit what is the impact of the actual bug you see?

[2021-08-31 08:22] florinel-chis commented on #238
@Epo123
Starting with 1.37 version, functionality to test the configuration settings was added, as a button in config: "Test credentials".
<img width="689" alt="buckaroo-test-credentials" src="https://user-images.githubusercontent.com/2117053/131468399-f2621c64-1ffd-42da-90e3-f247a916a961.png">

[2021-08-31 08:22] #238 closed

[2021-08-31 15:27] DanielRiezebos opened #361 ""Cannot instantiate abstract class Magento\Framework\Model\ResourceModel\AbstractResource" error in cart page"
Hello Buckaroo,

In version 1.38 there is a show-stopper bug when running the module in a webshop that is running in developer mode.

When I have the module enabled and I navigate to the cart page I get a big error message stating that:
"Cannot instantiate abstract class Magento\Framework\Model\ResourceModel\AbstractResource".

After some debugging all I could find is that the class \Buckaroo\Mage

[2021-09-01 07:47] Buckaroo-Rens commented on #353
@JosRomateFashcom Could you please provide us with some more information? Please see the comment of my colleague Florin above.

[2021-09-01 10:23] vladislav-padalka-hys commented on #361
Good afternoon @DanielRiezebos !

During quick testing we were not able to reproduce the issue you specified.
But we suspect what can cause it, so assuming you have local development environment we may propose to you apply possible patch we've made and check if it will help.
Please let me know if it's comfortable for you to patch it directly and results of applying or maybe you need separate branc

[2021-09-06 09:37] DanielRiezebos commented on #361
Dear @vladislav-padalka-hys,

I can confirm to you that the patch that you have provided me proved to be the solution to this problem!
Both on my clean test-environment and on my client development environment have I seen that the patch solved this problem.

The only feedback that I would give is that there is a problem with the Buckaroo\Magento2\Model\ConfigProvider\Method\Creditcard::formatIssue

[2021-09-06 09:37] #361 closed

[2021-09-07 15:24] RodneyISM opened #365 "Do not credit the payment fee until an order is fully credited"
When creating a partial credit memo via the Magento API (salesRefundInvoiceV1), the payment fee is always refunded on the first credit memo. It would make more sense to either:
- only refund the payment fee when the order is fully refunded, or;
- allow a parameter to be included in the request body to specify whether the credit memo should or should not refund the payment fee

When creating a cred

[2021-09-08 12:55] Shiriaev opened #366 "The shipping information was unable to be saved. Error: "Invalid customer address id 123456""
The error appear in the cart when you cancel your order on payment gateway page and then return to cart.

Step to reproduce:

1. Go to the store
2. Login  or create an account
3. Add some product to the cart
4. Place an order via some Buckaroo payment like IDEAL with 'failed' status
5. Go to the first checkout step again
6. Click on 'Next' button
7. Pay attention that the error is shown and custom

[2021-09-08 13:01] vladislav-padalka-hys commented on #366
Good afternoon Pavel !

Yeah, we know about this issue which has appeared in 1.38.0
We're already in process of fixing this and issue is related not only to guest flag you've mentioned.

Anyway, thanks a lot for your advise !

[2021-09-09 13:18] Buckaroo-Rens commented on #365
Thanks for your request @RodneyISM If set this to our backlog and will update you as soon as we are able to pick this up.

[2021-09-14 10:23] tig-robertgrundeken opened #372 "Checkout blocked; Caused by Creditcard.php while creditcard is not in use"
M2.4.2 EE, Buckaroo v1.38.0
We use buckaroo only for iDeal and not for CC.

![Screenshot 2021-09-14 at 12 19 35](https://user-images.githubusercontent.com/11065481/133240765-f0d4bf90-4827-424c-ae3f-8a588fde3c12.png)

1 exception(s):
Exception #0 (Exception): Notice: Undefined index:  in /var/www/html/vendor/buckaroo/magento2/Model/ConfigProvider/Method/Creditcard.php on line 158

Exception #0 (Exc

[2021-09-14 11:35] vladislav-padalka-hys commented on #372
Good afternoon @tig-robertgrundeken !

We are very grateful for your input !
Issue has been fixed and will be released later this week.

[2021-09-16 07:42] vladislav-padalka-hys commented on #372
Good morning Robert !

The fix has been released within scope of https://github.com/buckaroo-it/Magento2/releases/tag/v1.38.1

Thanks again for addressing that issue to us !

[2021-09-16 07:43] #372 closed

[2021-09-16 07:46] vladislav-padalka-hys commented on #366
Good morning Pavel !

The fix has been released within scope of https://github.com/buckaroo-it/Magento2/releases/tag/v1.38.1

Thanks again for addressing that issue to us !

[2021-09-16 07:46] #366 closed

[2021-09-28 07:47] bojanni opened #390 "PayPerEmail orders get cancelled after first cron-run"
Orders entered from admin using the PayPerEmail payment method get cancelled after the first cron run, despite having entered an expiration date for the paylink (30 days).

Also, automatic cancelling orders disrupts our workflow. It would be great if there's an option to disable this feature (cancelling orders after due date). For now I have disabled the cron for this feature.

[2021-09-28 08:57] saranchuk-hys commented on #390
Hello @bojanni

[2021-09-28 12:33] bojanni commented on #390
Wow that's fast! Thank you!

[2021-09-29 13:57] dutchwebdesign opened #395 "Could not find SC by order id"
Hello we have issue in version 1.38.1 with Magento 2.4.2

[2021-09-29 13:43:09] buckaroo_logging.ERROR: 61546d6d9db14|1632922989.6459|Could not find SC by order id:340076518 []

While Second Chance is disabled it still wants to remove the SC record, If I check the code this always happens in SuccessOrder.php
[code]

[2021-09-29 14:00] vladislav-padalka-hys commented on #395
Good afternoon @dutchwebdesign !

Thanks for your report, but that issue has been eliminated 2 days ago by this commit https://github.com/buckaroo-it/Magento2/commit/3424ee2c887ee991fe38aea195799871e1908393 and will be included into upcoming release

[2021-09-29 14:01] dutchwebdesign commented on #395
great thanks do you know when the next release is planned?

[2021-09-29 17:42] ericclaeren opened #396 "[BP-1324] Question"
Hi,

I'm noticing unnecessary calls to `$order->save()` which triggers al kinds of observers.
Could you explain why it's needed to call `$order->save()` on a payment observer and without modifying the actual order?

It is possible to have a payment without a saved order? That would seem unlikely.

https://github.com/buckaroo-it/Magento2/blob/290a86222b9ec40111e1a3eca9dbddf8380b4a6b/Observer/SendOr

[2021-10-04 07:34] saranchuk-hys commented on #365
Hello @RodneyISM . Thank you for your issue.
Support for extension_attributes (buckaroo_fee and base_buckaroo_fee) was added, and will be included to next release

[2021-11-17 14:03] Buckaroo-Rens commented on #390
Issue is fixed an released in v1.39.0

[2021-11-17 14:03] #390 closed

[2021-11-17 14:05] Buckaroo-Rens commented on #365
Feature is added and released in v1.39.0

[2021-11-17 14:05] #365 closed

[2021-11-17 14:52] Buckaroo-Rens commented on #350
Fixed and released in v1.39.0 (blind fix).

[2021-11-17 14:52] #350 closed

[2021-11-17 15:01] Buckaroo-Rens commented on #395
Released in 1.39.0

[2021-11-17 15:01] #395 closed

[2021-11-17 15:01] Buckaroo-Rens commented on #353
Ticket closed, no further information received.

[2021-11-17 15:01] #353 closed

[2021-11-25 15:23] markvds opened #446 "[BP-1218] Version 1.39: Cannot instantiate interface Magento\Framework\Filesystem\DriverInterface"
After upgrading to the latest version (1.39), Magento complains about not being able to instantiate the interface `\Magento\Framework\Filesystem\DriverInterface`. This interface has been injected into the constructor of `\Buckaroo\Magento2\Model\Push` and it has not been configured in `di.xml`, nor has Magento set any preference for this class anywhere in the core.

**Magento version:** 2.3.7-p2,

[2021-11-25 15:25] Buckaroo-Rens commented on #446
@markvds Thanks, we indeed figured out that several installations have this issue. Were we are unable to reproduce it. Please check #441 for a possible solution. Can you let us know if this works for you?

[2021-11-25 15:37] markvds commented on #446
I can confirm that this fixes the issue. Thanks for the quick reply!

I think it's good to leave this issue open until a new release has been done so other people can easily find the solution.

[2021-11-25 15:38] Buckaroo-Rens commented on #446
Will do ;) Thanks again for your imput and confirmation.

[2021-11-25 15:59] markvds opened #447 "[BP-1180] Support for older versions of MagePlaza OSC"
In the latest version, 1.39.0, commit 336f95d9c7d6ecb2deff96f5e7c7f633fcf555ec has been merged. According to the commit message, this commit should 'add support for OSC 4.0.8'. But it doesn't say that it **drops support for OSC < 4.0.8**.

To be honest, I really don't see why the modifications to MagePlaza OSC's CheckoutManagement class should be done through a preference. It can easily be done wi

[2021-11-25 16:21] Buckaroo-Rens commented on #447
@markvds I must admit that we officially not support MagePlaza's OCS. We only (fully) support the OneStepCheckout(.com). But to help one of our merchants out we made a small adjustment.  I could imagine that it's not the most beautiful fix but as i said it was more like a quick gesture.

We are currently working on a major refactor to our payment module and our roadmap does state that we want to s

[2021-11-26 09:27] markvds commented on #447
I think I didn't make myself clear. The current Buckaroo module version (1.39.0) will break the checkout if MagePlaza OSC prior to 4.0.8 has been installed. If the adjustment is only for one merchant (as far as I can see it's somethign about paying with gift cards) I think it's better to remove the `<preference>` in `di.xml` (this line: https://github.com/buckaroo-it/Magento2/blob/7bc5d89dc7273e40

[2021-11-26 09:42] Buckaroo-Rens commented on #447
Ah, sorry for the misunderstanding. I'm gonna add this to our upcoming sprint. Thanks for your information and findings.

[2021-11-29 14:21] radub commented on #447
@markvds can you please let us know what version of MagePlaza are you having trouble with?

[2021-11-29 14:45] markvds commented on #447
@radub An old version, but we did a lot of customization so I don't want to upgrade at this time. But it doesn't really matter which version it is exactly. Somehwere between 4.0.0 and 4.0.8 the constructor signature of `CheckoutManagement` has changed (`QuoteAddressValidator $quoteAddressValidator` has been added) and that breaks inheritance.

But there's no need for inheritance here (through a `<

[2021-11-29 14:53] markvds commented on #447
To be clear: the problem is that MagePlaza has added the `$quoteAddressValidator` as the second-last parameter. If they had added the argument as the last argument, there wouldn't be any problem. Now they added it as second-last, older versions of OSC expect an argument of type `LoggerInterface` as 16th argument, but get a `QuoteAddressValidator` instead.

[2021-11-30 13:15] nebojsa-factorblue opened #451 "[BP-1217] Unnecessary load of all categories although iDIN verification is not enabled and not set "per Category"."
As the title says.
Going to Buckaroo backend is terribly slow for shops with a large number of categories. In our case, our Client's webshop has ~7250 categories, and loading the backend of the Buckaroo (on a cluster of 4 servers) takes around 2 minutes.

We are using Magento: **2.4.3**
Buckaroo version: **1.39**

Kind regards,

[2021-12-01 12:38] lyusya-nnn opened #453 "Shipping address is empty on cancel order"
magento version - 2.4.2-p1
buckaroo extension version - 1.39.0 (test mode)

Steps to reproduce:
1. Set buckaroo extension to test mode, on Advanced Configuration ->Redirect to checkout payment section after 'Failure' set to Yes
![image](https://user-images.githubusercontent.com/8502721/144234860-ffaed8d8-4633-4af1-8ea3-09024354e2bc.png)

2. enable Ideal payment method
2. On frontend add any produc

[2021-12-02 13:12] Buckaroo-Rens commented on #453
@lyusya-nnn  Thank you for your clear explanation. Can you tell us which checkout extension is used by you?

[2021-12-02 13:13] Buckaroo-Rens commented on #451
Hello @nebojsa-factorblue  Thanks for reporting, we will investigate this and include it in a future sprint. We will keep you informed.

[2021-12-03 10:49] Buckaroo-Rens commented on #453
@lyusya-nnn Unfortunate we are unable to reproduce this at our staging environments. We tried to reproduce this on Magento 2.3 & 2.4 and on several browsers. Please contact our support team via support@buckaroo.nl and provide them all above information (and git issue nr) including access to you staging environment. We will pick-up the issue from there.

[2021-12-03 14:42] mgroensmit opened #454 "[BP-1216] Uncaught TypeError: Cannot read properties of null (reading 'countryId')"
This is the stack trace in my browserconsole

idin-step-view.js:100 Uncaught TypeError: Cannot read properties of null (reading 'countryId')
    at UiClass.<anonymous> (idin-step-view.js:100)
    at Function.notifySubscribers (knockout.js:1320)
    at Function.valueHasMutated (knockout.js:1538)
    at Object.observable [as billingAddress] (knockout.js:1504)
    at UiClass.setShippingInformation (s

[2021-12-05 21:43] Buckaroo-Rens commented on #454
Thanks @mgroensmit we will research this. Can you confirm you are working on version 1.39.0?

[2021-12-05 21:44] #453 closed

[2021-12-06 07:43] mgroensmit commented on #454
Hi @Buckaroo-Rens I am indeed working on 1.39.

I am getting the error on a modified checkout that is based on the default Magento OneStepCheckout. Nevertheless I'm sure this check is required as the function call I describe explicitely calls the function with a null value from a Magento script that's included in Magento.

[2021-12-06 13:41] bdbosman opened #455 "[BP-1215] Order statuses stay at pending because cron job buckaroo_magento2_cancel_cron fails"
Hi,

We updated the Buckaroo module to version 1.39.0 on Magento 2.3.5-p1. The order statuses remain pending, possibly because of a failing cron job:
[code]
This query seems to come from \Buckaroo\Magento2\Model\Service\Order::cancelExpiredTransferOrdersPerStore
Both the sales_order and sales_order_payment tables contain a created_at column

[2021-12-06 13:49] Buckaroo-Rens commented on #455
Hello @bdbosman I'm gonna setup an environment with the versions you use. Issue is not reproducible at latest versions of Magento + 1.39 at least.

[2021-12-06 15:15] bdbosman commented on #455
Hi Rens,

Thank you for the fast reply. I have some additional info:
This also happens on out staging environment which is running 2.4.3.
Both environments run PHP 7.3.31 and MySQL 5.7. I do realize this isn't officially supported for Magento 2.4.3, but for 2.3.5-p1 it should be.

[2021-12-16 09:42] radub commented on #455
Hi @bdbosman,

It seems that the created_at column is not present in the sales_order_payment (teste on both 2.4.3 and 2.3.5-p1). I've also checked M1.9.x database schema and I also couldn't find the field. Maybe you can check if it is added by a custom implementation (your code or third party extension).

[2021-12-21 11:07] Buckaroo-Rens commented on #447
@markvds Please see the changes from my colleague @vladislav-padalka-hys Are you able to test it on your side and see if this fixes the issue?

https://github.com/buckaroo-it/Magento2/pull/463

[2021-12-21 11:08] Buckaroo-Rens commented on #454
@mgroensmit We made some adjustments, are you able to also test this local on the environments your using? Thank you in advance.

[2021-12-21 11:10] Buckaroo-Rens commented on #451
@nebojsa-factorblue My colleague made some adjustments, are you able to test those too at your environments? Thank you in advance. Please see linked PR.

[2021-12-23 13:01] glevhen commented on #350
@Buckaroo-Rens the issue still present in v1.39.0 (Magento 2.4.3) default checkout

[2021-12-23 13:39] Buckaroo-Rens commented on #350
@glevhen Sorry but this is not reproducible from our side. Not in standard checkout as well in OneStepCheckout. Please send a email to support@buckaroo.nl with your research and access (ftp/ssh) to your staging environment.

[2022-01-10 12:41] yaroslav-qlicks commented on #446
why just not release it asap?
just create merge PR and assign new tag 1.39.1 and problem solved
so many merchants should spend time on find solution, patch, put downtime on webshop and upgrade magento

[2022-01-11 10:16] Buckaroo-Rens commented on #446
@yaroslav-qlicks Thanks for your response. To give you a little insight in this. There are multiple reason why we waited with this;

1. The issue does only apply to a few merchants for some reason. Less then 5%.
2. Updating means that we force some agencies to roll out a update due to SLA contract with merchants, something that we don't want to force so close after a release unless it really neces

[2022-01-12 08:36] yaroslav-qlicks commented on #446
thanks for your reply
origin problem is:
I do not know why but `dotmailer/dotmailer-magento2-extension` add preference for

[code]

and some merchants which are not used dotmailer ignore this extension via composer, so extension is not present and preference is gone

IMHO, PR https://github.com/buckaroo-it/Magento2/pull/441 is not correct and it should be fixed like this:

[code]

[2022-01-12 10:31] Buckaroo-Rens commented on #446
@yaroslav-qlicks Thanks for your input. Altho i don't agree with our fix being 'not correct' (it's just another approach') we will discuss your approach with our team and most likely adopt it after it's fully tested. Thanks again and you will hear from us this week.

[2022-01-12 10:37] yaroslav-qlicks commented on #446
You are right, I just use too straight words with 'not correct'. This PR https://github.com/buckaroo-it/Magento2/pull/441 works of course
when we inject Magento\Framework\Filesystem\Driver\File we broke Dependency inversion principle
but with DI injection via arguments we keep it ;)

[2022-01-12 11:46] markvds commented on #446
And then still ... If you want to be 100% clean, use `\Magento\Framework\Lock\LockManagerInterface` for locking purposes instead of writing your own locking mechanism. It also supports different backends for load balancing purposes.

[2022-01-12 13:57] Buckaroo-Rens commented on #446
@yaroslav-qlicks  Thanks again :) And @markvds Of course, and i fully agree with you on that point.

As said, we will discuss this internally and come back on this point this week.

[2022-01-14 11:34] buildnetwebservices opened #469 "[BP-1325] Buckaroo fee refund in creditmemo disappears"
Hi!

We're currently encountering an issue with the feature to enable/disable the fee for a payment method in a creditmemo.
If you change the checkbox for the fee and then change the quantity of an item that you want to refund, the option to add or remove the payment fee from the total refund disappears.

Steps to reproduce:
- Create a creditmemo for an order
- Scroll down to refund totals and dis

[2022-01-14 11:56] Buckaroo-Rens commented on #469
Thanks @buildnetwebservices for the clear information. We will research this as soon as possible.

[2022-01-14 11:57] Buckaroo-Rens commented on #446
@yaroslav-qlicks As you can see we have implemented your approach. Again, thanks for your input!

[2022-01-25 09:03] Tetiana123Q opened #470 "[BP-1302] Page redirects to the empty shopping cart after clicking 'Back' browser button"
**Steps to reproduce:**
1. Add product to the cart
2. Proceed to checkout
3. Chose 'Credit card' payment method, for example Visa
4. Click  place an order on your webshop
5. When you are on Buckaroo page for entering card information, click Back button in your browser
6. Pay attention that the page redirects to the empty shopping cart

**Actual result:** Page redirects to the empty shopping cart a

[2022-01-25 10:27] Buckaroo-Rens commented on #470
@Tetiana123Q Thanks for the information. Can you clarify do you/did you use SecondChance in version 1.35? If yes, do you now use our separate plugin for this?

[2022-01-25 12:59] Buckaroo-Rens commented on #455
No more response, ticket closed.

[2022-01-25 12:59] #455 closed

[2022-01-26 09:59] Tetiana123Q commented on #470
As I can see, we have SecondChance functionality only within frames of buckaroo/magento2 (if we talk about buckaroo modules). No separate module.

[2022-01-26 14:21] buildnetwebservices commented on #469
Hi @Buckaroo-Rens, has there been any progress on this issue?

[2022-02-01 11:09] Buckaroo-Rens commented on #446
Issue is released in 1.40.0 thanks again for all the imput @markvds & @yaroslav-qlicks

[2022-02-01 11:09] #446 closed

[2022-02-01 11:11] Buckaroo-Rens commented on #447
Issue is released in 1.40.0

[2022-02-01 11:11] #447 closed

[2022-02-01 11:12] Buckaroo-Rens commented on #451
Issue released in 1.40.0

[2022-02-01 11:12] #451 closed

[2022-02-01 11:13] Buckaroo-Rens commented on #454
Issue released in 1.40.0

[2022-02-01 11:13] #454 closed

[2022-02-01 11:22] Buckaroo-Rens commented on #469
@buildnetwebservices Sorry for the late reply, it totally missed this comment. We have this item on our backlog for our upcoming sprint (07-02).

[2022-02-01 11:26] Buckaroo-Rens commented on #470
That's strange since Second Chance was introduced in removed in 1.39.0 and if your not using the Second Chance module itself then you should not have any left-overs.

[2022-02-01 14:03] Tetiana123Q commented on #470
That was misunderstanding indeed. We checked in old version. In version 1.39 we do not have Second Chance module and do not have classes related with second chance.

[2022-02-11 14:01] mgroensmit commented on #148
We're currently in the same situation. @Buckaroo-Rens Could you give us an update on whether this features is being considered?

[2022-02-15 12:04] Buckaroo-Rens commented on #470
@Tetiana123Q We did some additional testing last week and our QA came back to me with the following info:

Since it's not reproducible i would like to advice you to contact our support team via support@buckaroo.nl you can refer to this specific issue. To help you via support we need additional info, video, logs or access to your staging environment.

I'm closing this ticket.

[2022-02-15 12:04] #470 closed

[2022-04-20 11:35] MrBlueEyez opened #489 "Buckaroo\Magento2\Logging\Log does not follow interface"
Since magento 2.4.4 the `addRecord` function should follow the update monolog interface:

`public function addRecord($level, $message, array $context = [])`

Should become
`public function addRecord(int $level, string $message, array $context = []): bool`

This issue comes when trying to use `bin/magento setup:upgrade`.

[2022-04-20 11:39] MrBlueEyez commented on #489
#490 created

[2022-04-21 09:08] MrBlueEyez opened #491 "Error: Call to undefined method Buckaroo\Magento2\Logging\Log::addDebug()"
Inside the repository the `addDebug` is called over 100 times, but this is not included inside the `Buckaroo\Magento2\Logging\Log` class.

This shows an error when even trying to open the checkout

[2022-04-21 09:12] MrBlueEyez commented on #491
See #492

[2022-05-09 08:34] MoooreChristiaan opened #494 "Free payment method rejected on a Zero Subtotal Checkout."
Hi,

We're currently experiencing difficulties when trying to place a zero subtotal quote through our checkout.

The free payment method is checked if it is valid like any regular payment method during the checkout steps. However it is deemed invalid due to the order having a total of 0. The `isAvailableBasedOnAmount()` function of `Model/Method/AbstractMethod.php` contains a check if the total is

[2022-05-09 09:08] MrBlueEyez opened #495 "idinstep.html contains html tags that are not closed properly"
When upgrading to magento 2.4.4 there is a check added which requires div tags to be opened and closed:
`<div></div>` and currently the view/frontend/web/template/checkout/idinstep.html file contains `<div/>` which is not valid.

<img width="730" alt="image" src="https://user-images.githubusercontent.com/16151444/167377635-2b9291cb-2ef0-496e-83b4-3ba8aa7f4c63.png">

This causes the template to not

[2022-05-09 09:10] Buckaroo-Rens commented on #494
Thanks @MoooreChristiaan for logging this. We will look into this a.s.a.p.

[2022-05-09 09:10] MrBlueEyez commented on #495
I also see the fix for this has been added in #493

[2022-05-09 09:14] Buckaroo-Rens commented on #495
Correct @MrBlueEyez  but not fully tested yet, but feel free to test it on your staging if there is some urgency.

[2022-06-01 12:45] bojanni opened #503 "Keep PayPerEmail order pending after failed payment"
Is there a way that only PayPerEmail orders don't get cancelled after a failed payment. I know there is a global option, but is it possible to only have this for PayPerEmail?

[2022-06-07 14:37] bojanni commented on #503
I disabled the cron option a while ago. The orders are immediately cancelled. Could have sworn this wasn't the case a while ago. It means we have to recreate the order and send out a  new link everytime a payment failed which is pretty inefficient. If it's possible it would be really great to have an option to keep the PayPerEmail order pending.

[2022-06-07 15:03] Buckaroo-Rens commented on #495
Release done.

[2022-06-07 15:03] #495 closed

[2022-06-07 15:04] Buckaroo-Rens commented on #489
Thanks again @MrBlueEyez

[2022-06-07 15:04] #489 closed

[2022-07-03 14:42] SvitlanaZakrevska opened #518 "[BP-1879] Afterpay rejection message is not clear when consumers use a not identical country for billing/shipping addresses."
Hello!

We're experiencing an issue with AfterPay payment method - getting error instead of successfully placed order.

**Steps to reproduce:**
1. Add some product to the cart
2. Go to the first checkout step -> add shipping address (NL address)
3. Go to the second checkout step
4. Chose AfterPay payment method -> add some billing address (this one should be BE address)
5. Fill all other required

[2022-07-04 08:25] Buckaroo-Rene commented on #518
Good morning @SvitlanaZakrevska ,

Thank you for your message. Due to a restriction from Afterpay it is not allowed to place a order with Afterpay with different countries for the billing and shipping addresses.
We are showing their rejection message in the checkout which is not very clear to be honest (Pay rejected. The following errors occurred: ()_).
I will create a ticket for our team to see I

[2022-07-04 12:47] SvitlanaZakrevska commented on #518
@Buckaroo-Rene, I suppose I can share the transaction key, where in DB I can find it?

[2022-07-05 07:37] Buckaroo-Rene commented on #518
Hi @SvitlanaZakrevska,

That would be great. There are 2 ways to find the transaction key:

(1.) If you have a timestamp of the transaction attempt, then you can look it up in the Buckaroo Plaza -> Transactions -> Overview. Click on the transaction attempt of that time, and then you'll see the transaction key displayed in the main transaction information.

(2.) You can look up the transaction atte

[2022-07-05 11:26] mischabraam opened #519 "Packagist hook update"
Hi, you've release 1.41, but it's not pushed to Packagist. So `composer require buckaroo/magento2` still installs 1.40. Please fix the hook to Packagist.

[2022-07-05 13:29] mischabraam commented on #519
Thanks

[2022-07-05 13:29] #519 closed

[2022-07-07 07:38] Buckaroo-Rene commented on #518
@SvitlanaZakrevska,

Thanks for checking it anyway. I've managed to reproduce the message, so it is not mandatory to have another example anymore. The ticket for our development team is currently on our backlog and it needs to be scheduled in a sprint.

[2022-08-04 10:53] pooshok opened #539 "[BP-2015] Ideal push fails (orders pending) if no var/tmp directory exists"
Push request can't be processed correctly until var/tmp directory will be created:
![image](https://user-images.githubusercontent.com/11040819/182828756-21bf7a76-acaf-4045-a0d1-96d5808487b1.png)
As lock file can't be created with php fopen at https://github.com/buckaroo-it/Magento2/blob/v1.42.0/Model/Push.php#L1813

[2022-08-05 09:32] florinel-chis commented on #539
@pooshok
We rely on the fact that standard Magento structure with the `var` and `var/tmp` folders being there and are writable (and shared across multiple instances if that is the case).
We can appreciate that certain setups might not have these folders and we'll add better error handling for this situation. We are evaluating a different locking mechanisms that would not rely on the filesystem.

[2022-08-10 13:45] buildnetwebservices commented on #469
@Buckaroo-Rens Hi! We were wondering if we get a status update about this issue. Unfortunately we're still encountering this problem.

[2022-08-10 13:49] Buckaroo-Rens commented on #469
Hi @buildnetwebservices at this moment we are planning to pick this up early September. Ticket was delayed (sorry for not communicating this) for several reason. Sprint will start 6th of sep and we need 1-2 sprints for this ticket.

[2022-08-16 12:36] LauHypershop commented on #469
Maybe the block for fee refund also needs to be added in vendor/magento/module-sales/view/adminhtml/layout/sales_order_creditmemo_updateqty.xml ?

[2022-08-16 12:43] LauHypershop opened #546 "Refunding Afterpay fee tries to refund VAT twice"
It's fairly common for customers of one of our clients to use Afterpay to order multiple products, and return first one and later the other. In this case the client only refunds the Afterpay fee if the creditmemo is for all remaining products in the order.

However, this doesn't work: we get an error saying "the most that can be refunded is X", where the difference between X and what we tried to r

[2022-08-16 12:48] Buckaroo-Rens commented on #546
Thanks @LauHypershop we will look into this a.s.a.p.

[2022-08-16 15:09] hgjr opened #547 "Buckaroo Afterpay order with discount credit not working"
We experienced an issue with Afterpay orders which have discount applied, after creating order & invoice and clicking on the refund button we get message "An error occurred while processing the transaction: Refund rejected. The following validation errorrs occurred: TotalGrossAmount (xxx.xx) is not equal to the sum of the articles (xxx.xx)
<img width="1356" alt="Screenshot 2022-08-16 at 14 43 28"

[2022-08-16 21:01] Buckaroo-Rens commented on #547
@hgjr Is the discount created with the default Magento options? Or did you use any 3th party extension?

[2022-08-17 05:59] vfreriks-bbd opened #548 "Afterpay validation issue in checkout"
Magento 2.4.2-p1
PHP 7.4.21
Buckaroo Magento2 1.42

**Steps to reproduce**
- Select Afterpay in the payment step of the checkout
- Select an option for the Gender radio button
- A validation error is thrown: `Uncaught TypeError: Cannot read properties of undefined (reading 'name')`

The field the validator tries to validate is the very first one (input#buckaroo_magento2_afterpay20_genderSelectMan.

[2022-08-17 07:06] Buckaroo-Rens commented on #548
Good morning @vfreriks-bbd we will look into this asap.

[2022-08-17 10:57] Buckaroo-Rens commented on #548
Hello @vfreriks-bbd we tested your issue on testing on m244 and m243 with both logged in and guest order but are unable to reproduce this. Can you tell me if you are using an 3th party checkout extension? If yes, which one?

[2022-08-17 11:55] hgjr commented on #547
@Buckaroo-Rens The discounts are created with Magento default options 'Cart price rules'

For example, a coupon code with fixed amount discount could cause this issue, but also coupon codes with percentage caused the issue

[2022-08-17 13:43] Buckaroo-Rens commented on #547
Thanks for your patience @hgjr. We were indeed able to reproduce this issue. We are going to log a internal ticket and place this with high priority on our backlog.

[2022-08-18 06:42] vfreriks-bbd commented on #548
We are still running 2.4.2-p1. However an update is on the way. We only use some of our own custom modules to add 2 steps to the progress bar, change the field sequence in the shipping form and the markup of shipping methods. I disabled these and the error still occurs.

I'll let you know if the Magento update fixes the issue.

[2022-08-18 11:31] vfreriks-bbd commented on #548
Hi @Buckaroo-Rens
I can confirm this is now fixed with M2.4.4

[2022-08-18 11:31] #548 closed

[2022-08-18 13:44] Buckaroo-Rens commented on #548
Thanks for informing us @vfreriks-bbd, glad that fixed the issue :)

[2022-08-26 13:21] stefanfr opened #557 "[BP-2062] Afterpay customer IP doesn't follow IP header from config"
Hi,

Within the plaza we noticed that orders placed with Afterpay have the IP address form the server instead of the customer IP. Looking in the code I noticed that customerData is built with the `getRemoteAddress` function instead of following the ip headers set in the config.

The customer data array should also follow this setting to ensure the correct IP is registered in Buckaroo Plaza

[2022-09-05 06:19] vfreriks-bbd opened #561 "[BP-2056] JS Errors in checkout with Afterpay20 method"
Hello, we are experiencing the following issue when updating a client to Magento 2.4.5 (PHP version 8.1):

At the payment step the console is logging the following issues:
**Warnings**:
`jQuery.Deferred exception: Unable to process binding "if: function(){return showNLBEFields }"
Message: Unable to process binding "datepicker: function(){return {
                                        storage:dat

[2022-09-05 09:00] Buckaroo-Rene commented on #561
Thank you for reaching out to us @vfreriks-bbd.
Our extension is not yet compatible with Magento version 2.4.5.
We are working towards a new release version of our extenstion with the latest Magento version support.
This will be picked up in sprint 18, that starts tomorrow.

_(Sprint 18 starts at 06-09-2022 and ends at 20-09-2022)._

[2022-09-05 09:30] ainigma32 opened #562 "Typo in translation files"
Hi all,

There is a typo in the translation files which results in untranslated content.
In the translation files there is this string:
"Your order has been placed succesfully."

The file that should be using this string is:
[Controller/Redirect/Process.php](https://github.com/buckaroo-it/Magento2/blob/d564ca7c57ce7970d7ecb8bab9251c9693f4131f/Controller/Redirect/Process.php#L556)

But there is a s

[2022-09-06 07:00] Buckaroo-Rene commented on #562
Hi @ainigma32 ,

Thank you for informing us about this issue.
I have created a ticket for it and this will be picked up in one of our upcoming sprints.

_Ticket: BP-2031_

[2022-09-13 12:26] WebWeave commented on #561
Why is it not defined in the composer.json that it is not compatible with 2.4.5, even the requirements in the README says Magento version 2.4.4 or higher...
We now have to find out after updating and seeing things break.

[2022-09-14 11:34] Buckaroo-Rens commented on #561
Hi @WebWeave your correct, our README contains a typo. The 'or higher...' is not supposed to be there. Sorry for the inconvenience.

[2022-09-23 18:08] allanmfx opened #576 "2+ partial refunds of the same order doesn't generate credit memo for all refunds when approved at the same time."
Given an order 100000010 with 2 products:

1. Enduro EM305+ mover
2. Pro-User Diamant fietsendrager

Both items' prices exceed the refund approval threshold.
The customer service decides to open a creditmemo for the first item, and got an error saying to await approval for the refund request.
One hour later, customer service opens a creditmemo for the second item and again got the awaiting approva

[2022-09-25 13:06] raoulguillermo opened #578 "Please select a issuer from the list (call from graphql) setPaymentMethodOnCart"
Hi,

When using the mutation call setPaymentMethodOnCart. I receive an error : _Please select a issuer from the list_.
The current version of the module is 1.42.0

graphql call example :

mutation {
          setPaymentMethodOnCart(input: {
            cart_id: "${cartId}"
            payment_method:
              {
                code: "buckaroo_magento2_ideal"
              }
          }) {

[2022-09-26 08:37] harli91 commented on #578
Hello @raoulguillermo currently we don't provide graphQl in our main plugin(this), we have a new plugin in development that will provide you with graphQl functionality that you seek, it will be released in the coming months, thank you

[2022-09-26 08:46] raoulguillermo commented on #578
Would it be an option if i use the normal magento 2 api?

[2022-09-26 09:05] Buckaroo-Rens commented on #578
@raoulguillermo We can also give you access to our private repo with our GraphQL module. It's a working module, already running in pilot at some merchants. Interested?

[2022-09-26 09:06] raoulguillermo commented on #578
@Buckaroo-Rens yes! Would really appreciate that!

[2022-09-26 09:09] Buckaroo-Rens commented on #578
@raoulguillermo Added you. For now i will close this issue. And please, feel free to give us any feedback on the GraphQL module.

[2022-09-26 09:09] #578 closed

[2022-09-26 09:21] raoulguillermo commented on #578
@Buckaroo-Rens thanks!

[2022-09-26 14:12] Buckaroo-Rene commented on #557
@stefanfr ,

We created a ticket for this issue with the following reference: BP-2062
It is currently on our backlog. When we have more information about the sprint schedule or status change etc, we'll let you know.

[2022-09-28 12:17] marceldekoning commented on #561
@Buckaroo-Rene @Buckaroo-Rens,

How are things going on the new release containing the compatibility fixes for 2.4.5? Can you say something about when you guys are expecting to release an update? Afterpay is simply breaking our checkout right now.

Kind Regards,
Marcel de Koning

[2022-09-28 13:11] Buckaroo-Rene commented on #561
@marceldekoning

Thank you for your message. We are currently in the testing phase for releasing a new Magento 2 plugin version.
The release of this new version with fixes for 2.4.5 (and more) is scheduled for the 6th of October.
_*Please keep in mind that this is a estimation since it depends on the testing results as well._

**See the commit below:**
https://github.com/buckaroo-it/Magento2/pull/

[2022-09-30 13:46] Buckaroo-Rens commented on #546
Quick update, we are waiting on access from you side (our support team is in contact with Kevin from your side). Looks like a setting issue but we want to double check.

[2022-09-30 13:54] Buckaroo-Rens commented on #148
GraphQL module will be released this year.

[2022-09-30 13:54] #148 closed

[2022-10-02 14:26] raoulguillermo commented on #350
I have the same issue when using the magento graphql:
**when calling this**
mutation {
  setPaymentMethodOnCart(
    input: {
      cart_id: ""
      payment_method: {
        code: "buckaroo_magento2_ideal"
      }
    }

  ) {
    cart {
      selected_payment_method {
        code
        title
      }
    }
  }
}

**i get this as a result**
{
  "errors": [
    {
      "message": "Please select

[2022-10-02 15:25] harli91 commented on #350
@raoulguillermo the graphql query should look like:

[code]

[2022-10-02 17:13] raoulguillermo commented on #350
I get the following result :
Field \"buckaroo_additional\" is not defined by type PaymentMethodInput.

{
  "errors": [
    {
      "message": "Field \"buckaroo_additional\" is not defined by type PaymentMethodInput.",
      "extensions": {
        "category": "graphql"
      },
      "locations": [
        {
          "line": 11,
          "column": 9
        }
      ]
    }
  ]
}

[2022-10-02 21:30] raoulguillermo commented on #350
works!

[2022-10-06 12:41] bramzeijlmans commented on #561
@Buckaroo-Rens can you tell us if there will be a release today with the fixes for the checkout?

Kind Regards

[2022-10-06 12:53] Buckaroo-Rens commented on #561
@bramzeijlmans We are in the latest fase of testing but won't make it today. We are not releasing on Fridays so it will be monday or early Tuesday morning. Thanks for your patience.

[2022-10-11 14:06] Buckaroo-Rens commented on #576
Released in 1.43.0

[2022-10-11 14:06] #576 closed

[2022-10-11 14:07] Buckaroo-Rens commented on #561
Released in 1.43.0

[2022-10-11 14:07] #561 closed

[2022-10-11 14:08] Buckaroo-Rens commented on #547
Released in 1.43.0

[2022-10-11 14:08] Buckaroo-Rens commented on #469
Released in 1.43.0

[2022-10-11 14:08] #469 closed

[2022-10-13 16:10] boris1988 opened #591 "AfterPay: datepicker not closed after date was selected"
**Steps to reproduce:**
Buckaroo 1.42.0
Magento 2.4.4-p1
1. Afterpay must be enabled (payment/buckaroo_magento2_afterpay20/active = 1)
2. Add product to the cart
3. go to the payment step
4. select AfterPay
5. select the birthday

**Actual result:**
The datepicker was not closed after the date was selected.

**Expected result:**
datepicker will be closed after the date was selected.

**What caused

[2022-10-14 13:45] Buckaroo-Rens commented on #591
Thanks @boris1988 we will look into this asap.

[2022-10-19 11:05] harli91 commented on #591
Hello @boris1988, this issue was fixed in #571 released in version 1.43.0

[2022-10-19 11:05] #591 closed

[2022-10-19 11:13] boris1988 commented on #591
Hi @harli91
Thanks for the update

[2022-10-21 09:30] CyberSecutor opened #599 "Orders are set to PROCESSING too soon in 1.43.0 causing problems in the order flow"
In this commit:
https://github.com/buckaroo-it/Magento2/commit/113a62faf2c6147f0a08f3e76874e60bb20a4854

Orders are set to processing as soon as a transaction is started.
This is the wrong flow for Magento. They should only be set to processing when the payment is successful.

Now when someone aborts an iDeal payment for example, the order is kept on processing for a while and other systems will a

[2022-10-21 09:59] Buckaroo-Rens commented on #599
@CyberSecutor We are looking into it right now

[2022-10-21 10:06] MaxiAxi-Jorn commented on #599
Tried to reproduce this, since I was testing 1.43.0 as well, but I can't reproduce this. Not with iDeal in test mode or live mode.

[2022-10-21 10:07] Buckaroo-Rens commented on #599
@CyberSecutor With 'abort an iDEAL payment' do you mean:

- Clicking the go back button
- CLicking the cancel button on the bank page

At this moment we cannot reproduce this.

[2022-10-21 10:56] Buckaroo-Rens commented on #599
We found a edge-case scenario were this was reproducable. We made a fix and will get 1.43 offline. Commit can be found here: https://github.com/buckaroo-it/Magento2/pull/600/commits/dfa2fa9b57d44c1907793f599d00b1ce05000b96 advise could also be to downgrade to 1.42.0

New version of our plugin will be released early next week.

[2022-10-23 13:38] CyberSecutor commented on #599
Hi @Buckaroo-Rens,

one of the methods is to start an iDeal payment, and not finish it at all. (i.e. just close the browser tab on the bank page).
But that is just them most noticable scenario, since the time between transaction start and finish is quite long.

[2022-10-25 10:50] Buckaroo-Rens commented on #599
Fixed in 1.43.1

[2022-10-25 10:50] #599 closed

[2022-10-31 12:29] stefanfr commented on #557
Hi @Buckaroo-Rens @Buckaroo-Rene,

After receiving an email from Chitra I noticed my earlier post isn't clear. The issue is not that we cannot change the config to follow our specific ip headers but that the buckaroo method doesn't use this flow.

If I check the flow for Ideal I see this configuration being used in file `Gateway/Http/TransactionBuilder/AbstractTransactionBuilder.php on line 532` t

[2022-11-01 07:34] the-line opened #618 "Link to conditions of Riverty redirects to incorrect page"
The URL used in the hyperlink of the conditions of Rivery | Afterpay redirects to the homepage of Riverty instead of the page with conditions. The hyperlink should point to:
https://documents.myafterpay.com/consumer-terms-conditions/nl_nl

At this moment the hyperlink points to:
https://www.afterpay.nl/nl/algemeen/betalen-met-afterpay/betalingsvoorwaarden

Other links to the conditions are also in

[2022-11-01 09:49] Buckaroo-Rens commented on #618
@the-line  Thanks for your input, will take this into account asap. We were not informed about this change by Riverty.

[2022-11-01 10:36] Buckaroo-Rens commented on #557
Thanks for your additional info @stefanfr, we will look into this asap.

[2022-11-01 15:34] #618 closed

[2022-11-16 08:45] Buckaroo-Rens opened #633 "[REFACTOR] Magento 2 module"
**Buckaroo has been working on an updated version of the Buckaroo Magento 2 Payments Plugin.**

The plugin, which went live in 2016, has been touched by various parties and developers over the years. In order to continue to guarantee stability and to be able to own the current code more, we have started planning a major refactor with a new in-house development team and external Magento consultant.

[2022-11-18 13:07] buildnetwebservices commented on #469
@Buckaroo-Rens Hi Rens, after installing the new update the checkbox completely dissapeared.
Is this intended? Because now we can't exclude the payment method costs from a credit memo.

See screenshot for details.

![afbeelding](https://user-images.githubusercontent.com/66729006/202712254-8de0b12f-4079-4cb3-9ce6-0b3335d6f843.png)

[2022-11-22 17:35] igorwulff opened #638 "Invoice email sending is forced to be non-async"
https://github.com/buckaroo-it/Magento2/blob/90670f5e08e71482790ed7e2b41ca6fbaa0685cb/Model/Push.php#L1531

I'm curious if this is behavior that we really want. Apparently invoice sending through this module is directly being send when a push from buckaroo happens .Why not control this behavior by settings defined by Magento in regards to async/sync sending of emails? Its causing some issues for o

[2022-11-23 09:28] Buckaroo-Rens commented on #638
Hi @igorwulff thanks for issue. We are indeed aware of this and already in process of refactoring this part of our code. Not only this specific part but the whole push file/logic is going to be improved, standardized en more easy to read/use.  Unfortunately i don't have an hotfix for this right now but it's high on our list.

Please also check https://github.com/buckaroo-it/Magento2/issues/633 for

[2022-11-23 18:53] HenrivantSant commented on #148
Hi!

I see this issue has been closed. Does this mean the PWA support has been completed? Where can we find the documentation regarding to this?

We're waiting for the implementation to able to finilize the checkout for one of our customers.

[2022-11-24 09:37] Buckaroo-Rens commented on #148
Hi @HenrivantSant it's still planned to be released this year. Currently aiming on somewhere in the coming 1-2 weeks. If the case is urgent we can give you pre-access to our current private repo.

[2022-11-24 15:47] kaplansin opened #641 "[BP-2182] Can not cancel order with klarnakp payment method."
Afer selecting Klarnakp method we are redirecting to Payment Gateway page,
if we use Go Back button on this page,
buckaroo/redirect/process controller called with brq_statuscode = 490
which is  STATUSCODE_FAILED
order reservations are removed (adding positive reservation), quote is activated again
But order state remains as 'new' and , and we have seen that this endpoint called multiple times.
on

[2022-11-25 13:10] markvds opened #642 "[BP-2188] Payment method availability gets checked on shipping address"
The Buckaroo module overrides the default Magento check to determine if a payment method is available for a cart:
https://github.com/buckaroo-it/Magento2/blob/master/Model/Checks/CanUseForCountry/CountryProvider.php

The logic that has been changed, is that it checks the shipping country instead of the billing country. I think it's undesirable and doesn't make sense, but most of all it kills the c

[2022-11-25 13:23] Buckaroo-Rens commented on #642
@markvds  Thank you for your extensive research and explanation. We're going to look into this.